<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
     <customErrors mode="Off"/>
    <!--<authorization>
      <allow users="dxu@microsoft.com" />
      <deny users="*" />
    </authorization>-->
    <!--<httpHandlers>
      <add verb="*" path="data/*.json" type="jsonhandler"/>
    </httpHandlers>-->
  </system.web>
  <appSettings>
    <add key="ida:ClientId" value="482514c8-43d4-4421-a58e-73771b9e9e4c" />
    
    <!--<add key="ida:ClientId" value="d2a4db8d-c2d3-43d6-8294-7733fefab23e" />-->
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="microsoft.onmicrosoft.com" />
    <add key="ida:PostLogoutRedirectUri" value="https://localhost:44303" />

    <add key="DocDBEndpoint" value="https://s3p.documents.azure.com:443/" />
    <add key="DocDBKey" value="v0K2HB9MD0kjVRX0MlvvNFu3Xi5xgHHbDLgyUEqEEly80OzdRG5HKOH2g3KSpmR6MlpDxjVKXLcwdG4XjnQ0pA==" />
    <add key="DocDBName" value="S3PRawData" />
    <add key="DocInitialSettingsCollection" value="InitialSettingsCollection" />
    <add key="DocDBTwitterCollection" value="TwitterCollection" />
    <add key="DocDBMSDNCollection" value="MSDNCollection" />
    <add key="DocDBTNCollection" value="TechNetCollection" />
    <add key="DataEndpoints" value="http://s3pdata.azurewebsites.net/"/>
  </appSettings>
 
</configuration>