/*-------------------
      Base Sizes
--------------------*/
/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Colored Backgrounds ---*/
/* This is the single variable that controls them all */
/* The size of page text  */
/* em */
/* rem */
.text.mini {
  font-size: 0.78571429rem;
}
.text.tiny {
  font-size: 0.85714286rem;
}
.text.small {
  font-size: 0.92857143rem;
}
.text.medium {
  font-size: 1rem;
}
.text.large {
  font-size: 1.14285714rem;
}
.text.big {
  font-size: 1.28571429rem;
}
.text.huge {
  font-size: 1.42857143rem;
}
.text.massive {
  font-size: 1.71428571rem;
}
.ui.segment > .ui.segment.piled {
  z-index: 1;
}
.text.center {
  text-align: center;
}
.ui.statistics .statistic > .mini.label,
.ui.statistic > .mini.label {
  font-size: 0.8em !important;
  text-transform: initial !important;
}
.ui.mini.menu {
  font-size: 12px;
  height: 24px;
}
.no-border {
  border: none !important;
  box-shadow: none !important;
}
.ui.segment.yellow > .ui.yellow.header {
  color: #b58105 !important;
}
.ui.basic.statistic.segment {
  padding-top: 0 !important;
}
.ui.segment.voc {
  min-height: 290px;
}
.ui.horizontal.top.divider {
  margin-top: 0 !important;
}
.ui.statistic > .label {
  text-transform: initial !important;
}
.tab-rail {
  padding-right: 0 !important;
  width: 100px !important;
  z-index: -1;
  margin-top: 10px !important;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.static.label.right {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0;
}
#scrollspy {
  position: fixed;
  top: 50%;
  right: 5px;
}
#scrollspy > .list > .item > .ui.label > .icon {
  margin: 0 !important;
}
#scrollspy > .list > .item {
  margin: 5px auto;
  padding: 0 !important;
}
#scrollspy > .list > .item .ui.label > span {
  margin-left: 1em;
  display: inline-block;
}
#scrollspy i.icon {
  margin: 0 !important;
}
.text.red {
  color: #DB2828;
}
.text.orange {
  color: #F2711C;
}
.text.yellow {
  color: #FBBD08;
}
.text.olive {
  color: #B5CC18;
}
.text.green {
  color: #21BA45;
}
.text.teal {
  color: #00B5AD;
}
.text.blue {
  color: #2185D0;
}
.text.violet {
  color: #6435C9;
}
.text.purple {
  color: #A333C8;
}
.text.pink {
  color: #E03997;
}
.text.brown {
  color: #A5673F;
}
.text.grey {
  color: #767676;
}
.text.black {
  color: #1B1C1D;
}
.user-list {
  margin-bottom: 0 !important;
}
.user-list > .item:first-child img.image {
  width: 84px;
}
.ui.menu .select,
.ui.menu a.ui.item.select {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
}
.ui.menu .dropdown.blue.select,
.ui.menu a.ui.item.blue.select {
  color: #2185D0 !important;
}
.ui.menu .dropdown.blue:hover,
.ui.menu a.ui.item.blue:hover {
  color: #2185D0 !important;
}
.ui.menu .dropdown.green.select,
.ui.menu a.ui.item.green.select {
  color: #21BA45 !important;
}
.ui.menu .dropdown.green:hover,
.ui.menu a.ui.item.green:hover {
  color: #21BA45 !important;
}
.ui.menu .dropdown.olive.select,
.ui.menu a.ui.item.olive.select {
  color: #B5CC18 !important;
}
.ui.menu .dropdown.olive:hover,
.ui.menu a.ui.item.olive:hover {
  color: #B5CC18 !important;
}
.ui.menu .dropdown.yellow.select,
.ui.menu a.ui.item.yellow.select {
  color: #FBBD08 !important;
}
.ui.menu .dropdown.yellow:hover,
.ui.menu a.ui.item.yellow:hover {
  color: #FBBD08 !important;
}
.ui.menu .dropdown.red.select,
.ui.menu a.ui.item.red.select {
  color: #DB2828 !important;
}
.ui.menu .dropdown.red:hover,
.ui.menu a.ui.item.red:hover {
  color: #DB2828 !important;
}
.ui.menu .dropdown.teal.select,
.ui.menu a.ui.item.teal.select {
  color: #00B5AD !important;
}
.ui.menu .dropdown.teal:hover,
.ui.menu a.ui.item.teal:hover {
  color: #00B5AD !important;
}
.select-page {
  width: 40px;
  text-align: center;
}
.topic-selector table {
  line-height: 0.4em;
}
.topic-selector div.header {
  padding-left: 0.5em;
  font-weight: bolder;
  min-height: 42px;
}
.topic-selector div.button {
  bottom: 0px;
}
.topic-selector.topic-selector:hover {
  background: #f0f0f0;
}
.topic-selector.topic-selector:hover div.header {
  color: orange;
}
.topic-selector.topic-selector.active {
  background: orange;
}
.topic-selector.topic-selector.active div.header {
  color: #fff;
}
.topic-selector.topic-selector.active a.forum_icon {
  background-color: orange;
}
.topic-selector div.forum_icon {
  padding: 5px;
  background-color: white;
}
.topic-selector div.forum_icon img {
  width: 20px !important;
  height: 20px !important;
}
.ui.segment > .ui.header:first-child {
  margin: -1rem -1rem 1rem -1rem !important;
  padding: 1rem;
  background: #f0f0f0;
}
.ui.statistic {
  max-width: 338px;
}
.ui.container {
  min-width: 1127px;
}
#summary .ui.horizontal.top.divider {
  color: #2185D0;
}
#summary div .collection.column:hover {
  border: 1px solid #2185D0;
  box-shadow: 10px 10px 5px #888888;
  margin: -1px;
}
body {
  overflow: auto;
  overflow-y: scroll;
}
.echart {
  width: 100%;
  height: 300px;
}
.ui.compact.table th {
  padding-top: 5px !important;
  padding-bottom: 6px !important;
}
.st-sort-ascent:before {
  content: '\25B2';
}
.st-sort-descent:before {
  content: '\25BC';
}
.ui.shape {
  width: 100%;
}
.stTable thead tr th[data-role=columnsorter] {
  color: blue !important;
  cursor: pointer !important;
}
.stTable thead tr th a {
  color: blue !important;
  cursor: pointer !important;
}
.admin.cards .card {
  max-width: 166px;
  width: 100%;
  padding: 2px;
}
.admin.cards .card .ui.button .icon {
  margin: 0 !important;
}
.admin.cards .card.active {
  border: 2px solid #F2711C;
  box-shadow: 10px 10px 5px #e0e0e0;
  padding: 0px;
}
.admin.cards .card.active .content .header {
  color: #F2711C;
}
.scope.ui.card .content.first {
  position: relative;
}
.scope.ui.card .content.first > button {
  position: absolute;
  top: 5px;
  right: 14px;
}
.scope-tags {
  margin-bottom: 2px !important;
}
#form1 .menu .ui.floating.label {
  top: 0.5em;
  margin: 0em 0em 0em -2.5em !important;
}
.k-loading-mask {
  background-color: #000;
  opacity: 0.9;
}
.k-tabstrip.non-scrollable .k-content {
  overflow: visible;
}
.k-tabstrip.non-border {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
}
.k-window-content .actions {
  padding-top: 16px;
  text-align: right;
}
p.k-reset {
  width: 100%;
}
p.k-reset > i.icon {
  float: right;
  cursor: pointer;
}
p.k-reset > i.icon.remove {
  font-size: 18px;
  color: red;
}
p.k-reset > i.icon.write {
  font-size: 16px;
  color: #2185D0;
}
p.k-reset > i.icon.add {
  font-size: 16px;
}
tr > td > i.icon {
  float: right;
  cursor: pointer;
}
tr > td > i.icon.remove {
  font-size: 18px;
  color: red;
}
tr > td > i.icon.write {
  font-size: 16px;
  color: #2185D0;
}
.form {
  padding: 20px!important;
}
.form .field {
  padding: 4px 0;
  clear: both;
}
.form .field .caption {
  float: left;
  width: 120px;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}
.form .field .value {
  display: block;
  margin-left: 120px;
}
.additional-icon-in-filter .k-filtercell > .k-operator-hidden {
  margin-right: 40px;
}
.k-loading-mask {
  z-index: 2000;
}
.report {
  cursor: default;
  padding: 0 30px;
}
.report a:focus {
  text-decoration: none;
}
.report a:hover {
  text-decoration: underline;
}
.report .k-grid-header {
  font-weight: bold;
}
.report .k-grid-header .k-link:link {
  color: #428BCA;
  font-weight: bold;
}
.report .icon {
  background-repeat: no-repeat;
}
.report .title {
  padding: 0 10px 20px 10px;
  text-align: left;
  line-height: 60px;
  color: #009E11;
  font-size: 30px;
  font-weight: 700;
}
.report .title i.icon {
  float: right;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
.report .sub-title {
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
}
.report .sub-title .icon {
  padding-left: 20px;
  background-size: 20px 20px;
  background-position: 0 center;
}
.report .sub-title .data-source .caption {
  float: left;
  display: block;
  width: 120px;
}
.report .sub-title .data-source .caption.forum {
  width: 100px;
}
.report .sub-title .date-range {
  float: right;
}
.report .message-no-records {
  display: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
}
.report .message-no-records.no-data {
  display: inherit;
}
.report > .section {
  position: relative;
  margin-top: 20px;
  border: solid 1px rgba(34, 36, 38, 0.15);
  border-radius: 4px 4px 0 0;
}
.report > .section.no-data {
  display: none;
}
.report > .section .brand {
  height: 40px;
  background-color: #F0F0F0;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}
.report .section.flexible .brand {
  cursor: pointer;
}
.report .section.flexible .brand .arrow {
  position: absolute;
  font-size: 0;
  line-height: 0;
  color: inherit;
  border-width: 6px;
  border-style: dashed;
}
.report .section.flexible.expanded .brand .arrow {
  left: 17px;
  top: 17px;
  border-bottom-width: 0;
  border-top-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
}
.report .section.flexible.expanded > .content {
  display: block;
}
.report .section.flexible.collapsed .brand .arrow {
  left: 20px;
  top: 14px;
  border-right-width: 0;
  border-left-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.report .section.flexible.collapsed > .content {
  display: none;
}
.report .summary {
  /*@render: `function () {
            this.content = encodeURIComponent('<svg width="100%" height="40px" xmlns="http://www.w3.org/2000/svg"><foreignObject width="100%" height="100%" x="0" y="0"><div xmlns="http://www.w3.org/1999/xhtml" style="margin-top: 10px; background-color: #F0F0F0;">Summary</div></foreignObject></svg>');
        }()`;
        &:before {
            content: url('data:image/svg+xml;charset=utf8,`content`')
        }*/
  margin-top: 10px;
  border-top: solid 2px #2185D0;
}
.report .summary .brand {
  color: #2185D0;
}
.report .summary .brand:before {
  content: "Summary";
}
.report .summary table {
  margin-top: 10px;
  width: 100%;
}
.report .summary table tr td {
  border-left: solid 1px rgba(34, 36, 38, 0.15);
  width: 25%;
}
.report .summary table tr td .card {
  position: relative;
  margin: 20px 10px 0;
  padding: 50px 0 30px;
  border-top: solid 1px rgba(34, 36, 38, 0.15);
  font-size: 42px;
  text-align: center;
}
.report .summary table tr td .card .caption {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #2185D0;
  background-color: #FFFFFF;
  white-space: nowrap;
}
.report .summary table tr td:first-child {
  border-left: none;
}
.report .sentiment {
  border-top: solid 2px #A333C8;
}
.report .sentiment .brand {
  color: #A333C8;
}
.report .sentiment .brand:before {
  content: "Sentiment";
}
.report .sentiment > .content {
  height: 300px;
}
.report .sentiment > .content > div#chartSentiments {
  float: left;
  margin: 20px 0 0 20px;
  width: 380px;
  height: 280px;
}
.report .sentiment > .content > div[data-role=grid] {
  float: right;
  margin: 2px 10px 0 0;
  width: 650px;
  border-radius: 0;
  border: none;
}
.report .services {
  border-top: solid 2px #21BA45;
}
.report .services .brand {
  color: #21BA45;
}
.report .services .brand:before {
  content: "Mentioned Services";
}
.report .services > .content {
  height: 300px;
}
.report .services > .content > div#chartMentionedServices {
  float: left;
  width: 400px;
  height: 300px;
}
.report .services > .content > div[data-role=grid] {
  float: right;
  margin: 2px 10px 0 0;
  width: 650px;
  border-radius: 0;
  border: none;
}
.report .users {
  border-top: solid 2px #F2711C;
}
.report .users .brand {
  color: #F2711C;
}
.report .users .brand:before {
  content: "Most VoC Post By";
}
.report .users > .content {
  height: 320px;
}
.report .users > .content > .user.card {
  float: left;
  padding-left: 50px;
  width: 25%;
  height: 30px;
  line-height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50px center;
}
.report .users > .content > .user.card > span {
  display: inline-block;
  font-weight: bold;
}
.report .users > .content > .user.card > span.name {
  display: block;
  margin-left: 40px;
  margin-bottom: 10px;
  width: 130px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}
.report .users > .content > .user.card > span.caption {
  float: left;
}
.report .users > .content > .user.card > span.value {
  display: block;
  margin-left: 140px;
  color: #999999;
}
.report .users > .content > .user.card:first-child {
  float: none;
  margin: 20px 50px;
  padding: 0 0 130px 130px;
  width: auto;
  background-size: 100px 100px;
  background-position: 0 center;
  border-bottom: solid 1px rgba(34, 36, 38, 0.15);
}
.report .users > .content > .user.card:first-child > span {
  float: none;
  display: inline-block;
  margin-left: 0;
  font-size: 20px;
}
.report .users > .content > .user.card:first-child > span.name {
  display: block;
  padding-top: 10px;
  width: auto;
  line-height: 60px;
  font-size: 32px;
}
.report .users > .content > .user.card:first-child > span.caption {
  padding-right: 4px;
}
.report .users > .content > .user.card:first-child > span.value {
  padding-right: 30px;
}
.report .users > .content > .user.card:first-child > span.value:last-child {
  padding-right: 0;
}
.report .users > .content.only-one {
  height: 150px;
}
.report .users > .content.only-one > .user.card {
  border-bottom: none;
}
.report .world {
  border-top: solid 2px #6435C9;
}
.report .world .brand {
  color: #6435C9;
}
.report .world .brand:before {
  content: "User Distribution";
}
.report .world > .content {
  height: 300px;
}
.report .world > .content > div#chartUserRegions {
  float: left;
  width: 650px;
  height: 300px;
}
.report .world > .content > div[data-role=grid] {
  float: right;
  margin: 2px 10px 0 0;
  width: 400px;
  border-radius: 0;
  border: none;
}
.k-loading-image {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.85);
  content: 'Loading';
  color: rgba(255, 255, 255, 0.9);
}
.k-loading-image:before {
  position: absolute;
  content: '';
  top: 30%;
  left: 50%;
  width: 26px;
  height: 26px;
  margin: 0 0 0 -13px;
  border-radius: 500rem;
  border: 0.2em solid rgba(0, 0, 0, 0.1);
  border-color: rgba(255, 255, 255, 0.15);
}
.k-loading-image:after {
  position: absolute;
  content: '';
  top: 30%;
  left: 50%;
  width: 26px;
  height: 26px;
  margin: 0 0 0 -13px;
  -webkit-animation: loader 0.6s linear;
  animation: loader 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #FFFFFF transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0px 0px 1px transparent;
}
