<div class="column">
    <div class="ui fluid card">
        <div class="ui active dimmer" ng-show="!complete">
            <div class="ui text loader">Loading</div>
        </div>
        <div class="content" style="min-height:341px;min-witdh:100%;">
            <div class="header" style="font-size:12px">{{title}}
                <span class="label">
                    <i class="popup small link info circle icon" data-content="info" data-variation="mini inverted"></i>
                </span>
            </div>
            <div class="echart" ng-show="complete&&hasData" style="width:100% !important"></div>
            <div class="description" ng-show="!hasData">
                <div class="ui message" style="text-align:center">
                    No Data Available
                </div>
            </div>
        </div>
    </div>
</div>