<div class="ui card">
    <div class="ui hover dimmer">
        <div class="content">
            <div class="center">
                <div class="ui mini buttons">
                    <div class="ui inverted button centerr" ng-click="selectPlatform(platform)"><i class="icon angle double down"></i></div>
                    <div class="ui green inverted button"><i class="icon plus"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui unfocus dimmer">
    </div>
    <div class="blurring dimmable image">
        <img ng-src="public/images/{{platform}}.png">
    </div>
    <div class="content">
        <a class="header">{{platform}}</a>
    </div>
</div>