<div class="column">
    <div class="ui grid">
        <div class="six wide column">
            <div class="ui large bulleted list">
                <div class="item" ng-repeat="l in labels" style="padding:0 1em;line-height: 32px;">
                    <span style="font-weight:bolder">{{l}}：</span>
                    <i class="icon" ng-class="{true:'long arrow up green',false:'long arrow down red'}[listData[$index]>0]" style="display:inline"></i> 
                    {{listData[$index]|percentage}}
                </div>
                <!--<div class="item">
                    <i class="icon" ng-class="{true:'long arrow up green',false:'long arrow down red'}[listData[1]>0]"></i> 
                    Service Mentioned {{listData[1]|percentage}}</div>
                <div class="item">
                    <i class="icon" ng-class="{true:'long arrow up green',false:'long arrow down red'}[listData[2]>0]"></i> 
                    Influence Impact {{listData[2]|percentage}}</div>
                <div class="item">
                    <i class="icon" ng-class="{true:'long arrow up green',false:'long arrow down red'}[listData[3]>0]"></i> 
                    Message Post {{listData[3]|percentage}}</div>
                <div class="item">
                    <i class="icon" ng-class="{true:'long arrow up green',false:'long arrow down red'}[listData[4]>0]"></i> 
                    Postive Post {{listData[4]|percentage}}</div>
                <div class="item">
                    <i class="icon" ng-class="{true:'long arrow up green',false:'long arrow down red'}[listData[5]>0]"></i> 
                    Negative Post {{listData[5]|percentage}}</div>-->
            </div>
        </div>
        <div class="ten wide column">
            <div class="ui fluid card">
                <div class="ui active dimmer" ng-show="!complete">
                    <div class="ui text loader">Loading</div>
                </div>
                <div class="echart"></div>
            </div>
        </div>
    </div>
    
</div>