<div class="column">
    <div class="ui grid">
        <div class="seven wide column" ng-show="hasData">
            <div class="ui big message" style="height:100%">
                <div class="ui huge list" ng-show="hasData">
                    <div class="item" ng-repeat="l in labels | filter:{sort:''} |orderBy:'sort'">
                        <div class="ui grid">
                            <div class="ten wide column">{{l.text}}</div>
                            <div class="six wide column pull-left">
                                <i class="icon" ng-show="listData[$index]" ng-if="listData[$index]!==0" ng-class="{true:'long arrow up green',false:'long arrow down red'}[listData[$index]>0]"
                                    style="display:inline"></i> 
                                <i ng-if="listData[$index]===0" class="icon minus blue"style="display:inline"></i> 
                                <span ng-if="listData[$index]!==0">{{listData[$index]|percentage}}</span>
                                <span ng-if="listData[$index]===0">No change</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="item">
                    <i class="icon" ng-class="{true:'long arrow up green',false:'long arrow down red'}[listData[1]>0]"></i> 
                    Service Mentioned {{listData[1]|percentage}}</div>
                <div class="item">
                    <i class="icon" ng-class="{true:'long arrow up green',false:'long arrow down red'}[listData[2]>0]"></i> 
                    Influence Impact {{listData[2]|percentage}}</div>
                <div class="item">
                    <i class="icon" ng-class="{true:'long arrow up green',false:'long arrow down red'}[listData[3]>0]"></i> 
                    Message Post {{listData[3]|percentage}}</div>
                <div class="item">
                    <i class="icon" ng-class="{true:'long arrow up green',false:'long arrow down red'}[listData[4]>0]"></i> 
                    Postive Post {{listData[4]|percentage}}</div>
                <div class="item">
                    <i class="icon" ng-class="{true:'long arrow up green',false:'long arrow down red'}[listData[5]>0]"></i> 
                    Negative Post {{listData[5]|percentage}}</div>-->
            </div>
        </div>
        <div class="nine wide column" ng-show="hasData">
            <div class="ui fluid card">
                <div class="ui active dimmer" ng-show="!complete">
                    <div class="ui text loader">Loading</div>
                </div>
                <div class="echart" ng-show="complete&&hasData"></div>
            </div>
        </div>
        <div class="sixteen wide column" ng-show="!hasData">
            <div class="content" style="min-height:300px">
                <div class="header">{{title}}</div>
                <div class="description">
                    <div class="ui active dimmer" ng-show="!complete">
                        <div class="ui text loader">Loading</div>
                    </div>
                    <div class="ui message" style="text-align:center" ng-show="complete">
                        No Data Available
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>