<div class="scope ui card" style="width:auto">
    <div class="content">
        <div class="header">Azure</div>
    </div>
    <!--<div class="content">
        <div class="ui sub header">Enabled Platforms</div>
        <div class="ui divided list">
            <div class="item" ng-repeat="p in platforms">
                <img ng-src="public/images/{{p}}.png" alt="{{p}}" title="{{p}}" style="width: 32px;">
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="{{p}}"><label>{{p}}</label>
                </div>
            </div>
        </div>
    </div>-->
    <div class="content first" ng-show="selectedPlatform==='twitter'">
        <div class="ui sub header">Twitter Keywords
            <div class="ui small icon input">
                <input type="text" placeholder="Twitter Keyword..." ng-keypress="($event.charCode==13)? addKwd($event) : return">
                <i class="plus icon"></i>
            </div>
        </div>
        <!--<button class="circular green ui icon button mini" ng-click="twitterKeywords.push('')">
            <i class="icon plus"></i>
        </button>-->
        <!--<div class="ui divided list">
            <div class="item" ng-repeat="w in twitterKeywords">
                <div class="right floated content">
                    <button class="circular red ui icon button mini" ng-click="twitterKeywords.splice($index,1)">
                        <i class="icon minus"></i>
                    </button>
                </div>
                <div class="content">
                    <div class="ui input">
                        <input type="text" value={{w}} placeholder="Twitter Keyword...">
                    </div>
                </div>
            </div>
            <div class="item" ng-show="twitterKeywords.length === 0">
                <div class="ui floating message text center">
                    {{CONST.ERRORS['2']}}
                </div>
            </div>
        </div>-->
        <!--<div class="ui raised segment" ng-show="currentTopic.tagsCfg.Keywords.length">
            <div class="ui blue label" ng-repeat="kwd in currentTopic.tagsCfg.Keywords track by $index">
                {{kwd}}
                <i class="delete icon" ng-click="currentTopic.tagsCfg.Keywords.splice($index,1)"></i>
            </div>
        </div>
        <div class="ui floating message text center" ng-show="currentTopic.tagsCfg.Keywords.length === 0">
            {{CONST.ERRORS['2']}}
        </div>-->
        <scope-tags-editer></scope-tags-editer>
    </div>
    <div class="content first" ng-show="selectedPlatform==='so'">
        <div class="ui sub header">SO Tags
            <div class="ui small icon input">
                <input type="text" placeholder="SO Tags..." ng-keypress="($event.charCode==13)? addKwd($event) : return">
                <i class="plus icon"></i>
            </div>
        </div>
        <!--<div class="ui raised segment" ng-show="currentTopic.tagsCfg.Keywords.length">
            <div class="ui blue label" ng-repeat="kwd in currentTopic.tagsCfg.Keywords track by $index">
                {{kwd}}
                <i class="delete icon" ng-click="currentTopic.tagsCfg.Keywords.splice($index,1)"></i>
            </div>
        </div>
        <div class="ui floating message text center" ng-show="currentTopic.tagsCfg.Keywords.length === 0">
            {{CONST.ERRORS['2']}}
        </div>-->
        <scope-tags-editer></scope-tags-editer>
    </div>
    <div class="content first" ng-show="selectedPlatform==='su'">
        <div class="ui sub header">SU Tags
            <div class="ui small icon input">
                <input type="text" placeholder="SU Tags..." ng-keypress="($event.charCode==13)? addKwd($event) : return">
                <i class="plus icon"></i>
            </div>
        </div>
        <!--<div class="ui raised segment" ng-show="currentTopic.tagsCfg.Keywords.length">
            <div class="ui blue label" ng-repeat="kwd in currentTopic.tagsCfg.Keywords track by $index">
                {{kwd}}
                <i class="delete icon" ng-click="currentTopic.tagsCfg.Keywords.splice($index,1)"></i>
            </div>
        </div>
        <div class="ui floating message text center" ng-show="currentTopic.tagsCfg.Keywords.length === 0">
            {{CONST.ERRORS['2']}}
        </div>-->
        <scope-tags-editer></scope-tags-editer>
    </div>
    <div class="content first" ng-show="selectedPlatform==='sf'">
        <div class="ui sub header">SF Tags
            <div class="ui small icon input">
                <input type="text" placeholder="SF Tags..." ng-keypress="($event.charCode==13)? addKwd($event) : return">
                <i class="plus icon"></i>
            </div>
        </div>
        <!--<div class="ui raised segment" ng-show="currentTopic.tagsCfg.Keywords.length">
            <div class="ui blue label" ng-repeat="kwd in currentTopic.tagsCfg.Keywords track by $index">
                {{kwd}}
                <i class="delete icon" ng-click="currentTopic.tagsCfg.Keywords.splice($index,1)"></i>
            </div>
        </div>
        <div class="ui floating message text center" ng-show="currentTopic.tagsCfg.Keywords.length === 0">
            {{CONST.ERRORS['2']}}
        </div>-->
        <scope-tags-editer></scope-tags-editer>
    </div>
    <div class="content first" ng-show="selectedPlatform==='msdn'">
        <div class="ui sub header">MSDN Category Names</div>
        <select class="ui fluid dropdown" ng-change="forumSelectChanged(TopicWithForum[selectedPlatformIndex].topics[selectedTopicIndex].tagsCfg.topic)" ng-model="TopicWithForum[selectedPlatformIndex].topics[selectedTopicIndex].tagsCfg.topic"
         data-ng-options="topic.topic as topic.topic for topic in MsdnTopicMapping">
            <option value="">Null</option>
            <!--<option value="{{map.topic}}" ng-repeat="map in MsdnTopicMapping">{{map.topic}}</option>-->
        </select>
    </div>
    <div class="content first" ng-show="selectedPlatform==='tn'">
        <div class="ui sub header">TN Category Names</div>
        <div class="ui divided list">
            <div class="item" ng-repeat="w in tncategorys">
                <div class="right floated content">
                    <button class="circular red ui icon button mini" ng-click="tncategorys.splice($index,1)">
                        <i class="icon minus"></i>
                    </button>
                </div>
                <div class="content">
                    <div class="ui input">
                        <input type="text" value={{w}} placeholder="TN Category Name...">
                    </div>
                </div>
            </div>
            <div class="item" ng-show="tncategorys.length === 0">
                <div class="ui floating message text center">
                    {{CONST.ERRORS['2']}}
                </div>
            </div>
        </div>
    </div>
    <div class="extra content">
        <div class="ui two buttons">
            <div class="ui green basic button" ng-click="approveUpdate()">Approve</div>
            <div class="ui red basic button" ng-click="cancelUpdate()">Decline</div>
        </div>
    </div>
</div>