<div class="row">
    <div class="ui small {{color}} statistic">
        <div class="label">
            {{title}}
            <i ng-show="comment" class="popup small link help icon" data-content="{{comment}}" data-variation="mini inverted"></i>
        </div>
        <div class="value"  ng-style="style">
            {{volume| thousandsuffix }}
        </div>
        <div class="mini label">
            <ng-statistic-label ng-init="label = labels[0]"></ng-statistic-label>
            <br />
            <ng-statistic-label ng-init="label = labels[1]"></ng-statistic-label>
        </div>
    </div>
</div>