<div id="subWindow" class="ui fullscreen modal" style="overflow: visible;" query=query>
    <div class="header">Details : {{platform}}</div>
    <div id="sub_window" class="ui segment content" style="overflow:auto;padding-top:0;padding-bottom:0">
        <div class="ui active dimmer" ng-show="!complete">
            <div class="ui text loader">Loading</div>
        </div>
        <div class="hourly-charts echart" style="width:100%;height:300px;"></div>
        <div class="ui divider"></div>
        <div class="ui four column grid">
            <div class="column" style="margin-top: -1em;">
                <user-list title='Users in {{platform}}' users=topUsers platform='{{platform}}' query=query style="width:100%;height:300px;" location='sub' no-pop="true"></user-list>
            </div>
            <div class="column" style="min-height:369px">
                <div id="shape-pup" class="ui fluid card" ng-chart-shape>
                    <div class="ui shape">
                        <div class="sides">
                            <div class="side active">
                                <ng-echart caption="Volume Sentiment Distribution in {{platform}}" type="pie" platform='{{platform}}' query=query api-fn="getDistribution" style="width:100%;" location='sub' no-pop="true" swith-tool="true"></ng-echart>
                            </div>
                            <div class="side">
                                <table class="ui definition celled table" style="height:300px;margin-bottom:0px !important">
                                    <thead>
                                        <tr>
                                            <th>
                                            </th>
                                            <th>VoC Count</th>
                                            <th>Influence Member Count (PV)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Total</td>
                                            <td>{{raw.vocvolcount|thousandsuffix}}</td>
                                            <td>{{raw.vocinfluencecount|thousandsuffix}}</td>
                                        </tr>
                                        <tr>
                                            <td>Positive</td>
                                            <td>{{raw.vocpositivecount|thousandsuffix}}</td>
                                            <td>{{raw.vocposiinfluencecount|thousandsuffix}}</td>
                                        </tr>
                                        <tr>
                                            <td>Negative</td>
                                            <td>{{raw.vocnegativecount|thousandsuffix}}</td>
                                            <td>{{raw.vocneginfluencecount|thousandsuffix}}</td>
                                        </tr>
                                        <tr>
                                            <td>Neutral</td>
                                            <td>{{raw.vocneutralcount|thousandsuffix}}</td>
                                            <td>{{raw.vocneutralinfluencecount|thousandsuffix}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="ui right icon button" data-animation="flip" data-direction="left" title="Back"><i class="left long arrow icon"></i></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--<div class="ui two ignored icon direction buttons fluid card">
                        <div class="ui left icon button" data-animation="flip" data-direction="left" title="Last"><i class="left long arrow icon"></i></div>
                        <div class="ui right icon button" data-animation="flip" data-direction="right" title="Next"><i class="right long arrow icon"></i></div>
                    </div>-->
                </div>
            </div>
            <div class="column" ng-show="needMentioned">
                <ng-echart caption="Service: Positive - Most mentioned" type="wordcloud" platform='{{platform}}' api-fn="getMentionedMostServiceList" query=query pnscope="posi" style="width:100%;height:306px;" location='sub' no-pop="true"></ng-echart>
            </div>
            <div class="column" ng-show="needMentioned">
                <ng-echart caption="Service: Negative - Most mentioned" type="wordcloud" platform='{{platform}}' api-fn="getMentionedMostServiceList" query=query pnscope="neg" style="width:100%;height:306px;" location='sub' no-pop="true"></ng-echart>
            </div>
            <!--<div class="column">
                <table class="ui definition celled table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>VoC Count</th>
                            <th>Influence Member Count (PV)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total</td>
                            <td>{{raw.vocvolcount}}</td>
                            <td>{{raw.vocinfluencecount}}</td>
                        </tr>
                        <tr>
                            <td>Positive</td>
                            <td>{{raw.vocpositivecount}}</td>
                            <td>{{raw.vocposiinfluencecount}}</td>
                        </tr>
                        <tr>
                            <td>Negative</td>
                            <td>{{raw.vocnegativecount}}</td>
                            <td>{{raw.vocnegativecount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>-->
        </div>
        <div class="ui blue striped celled table stTable">
            <div style="padding: 13px 10px; font-size:14px; font-weight: bold; color: #000000; background-color: #F9FAFB; cursor: default;">
                Messages List
            </div>
            <div id="gridThreads" class="additional-icon-in-filter"
                data-role="grid"
                data-pageable="true"
                data-columns="[{
                    title: 'Thread Name',
                    field: 'Title',
                    template: '<a target=\'_blank\' href=\'#=webUrl#\' title=\'#=title#\'>#=title#</a>',
                    filterable: {
                        cell: {
                            operator: 'contains',
                            minLength: 3,
                            showOperators: false,
                            template: function (args) {
                                var btnOpenReport = $('<i class=\'icon bar chart\' style=\'position: absolute; top: 22px; right: 24px; color: #000; cursor: pointer;\' title=\'open report\'></i>');
                                var btnExportExcel = $('<i class=\'icon download\' style=\'position: absolute; top: 22px; right: 4px; color: #000; cursor: pointer;\' title=\'export the search results to CSV\'></i>');
                                btnOpenReport.click(function (e) {
                                    var condition = {
                                        function: threadOption.function,
                                        forum: threadOption.platform,
                                        topic: threadOption.topic,
                                        search: threadOption.search,
                                        start: threadOption.start,
                                        end: threadOption.end
                                    };

                                    var params = {};
                                    if (threadOption.params) {
                                        $.each(threadOption.params, function (field, value) {
                                            if (value) {
                                                if (field === 'msgType') {
                                                    if (value === 'PositiveVolumePostSpikeDetected') {
                                                        params.pnscope = 4;
                                                    } else if (value === 'NegativeVolumePostSpikeDetected') {
                                                        params.pnscope = 0;
                                                    }
                                                } else {
                                                    params[field] = value;
                                                }
                                            }
                                        });
                                    }
                                    if (threadOption.pnscope) {
                                        if (threadOption.pnscope === 'posi') {
                                            params.pnscope = 4;
                                        } else if (threadOption.pnscope === 'neg') {
                                            params.pnscope = 0;
                                        } else if (threadOption.pnscope === 'neu') {
                                            params.pnscope = 2;
                                        }
                                    }
                                    condition.conditions = params;

                                    kendo.ui.progress($('body'), true);
                                    $.ajax({
                                        url: angular.element('html').scope().CONST.SERVICE_INFO.ENDPOINT + 'GetReportIdentity',
                                        async: false,
                                        data: {
                                            condition: JSON.stringify(condition)
                                        },
                                        success: function (result, status, xhr) {
                                            kendo.ui.progress($('body'), false);
                                            window.open('report?' + result, '_blank');
                                        },
                                        error: function (xhr, status, error) {
                                            kendo.ui.progress($('body'), false);
                                        }
                                    });
                                });
                                btnExportExcel.click(function (e) {
                                    var element = $(e.target);
                                    while (element) {
                                        if (element.is('table[role=grid]')) {
                                            element = element.parent();
                                            break;
                                        }
                                        element = element.parent();
                                    }
                                    if (element) {
                                        var grid = element.data('kendoGrid');
                                        if (grid) {
                                            var datasource = grid.dataSource;

                                            var search = '';
                                            var sortby = 'created';
                                            var sortdir = 'desc';
                                            if (datasource) {
                                                var filter = datasource.filter();
                                                if (filter) { if (filter.filters) { if (filter.filters.length > 0) {
                                                    search = filter.filters[0].value;
                                                }}}
                                                var sort = datasource.sort();
                                                if (sort) { if (sort.length > 0) {
                                                    sortby = sort[0].field;
                                                    sortdir = sort[0].dir;
                                                }}
                                            }
                                            var params = {};
                                            if (threadOption.params) {
                                                $.each(threadOption.params, function (field, value) {
                                                    if (value) {
                                                        params[field] = value;
                                                    }
                                                });
                                            }
                                            var post = {
                                                function: threadOption.function,
                                                platform: threadOption.platform,
                                                topic: threadOption.topic,
                                                pnscope: threadOption.pnscope,
                                                start: threadOption.start,
                                                end: threadOption.end,
                                                //days: threadOption.days,
                                                params: kendo.stringify(params),
                                                search: search,
                                                sortby: sortby,
                                                sort: sortdir
                                            };
                                            console.log(angular.element('html').scope().CONST.SERVICE_INFO.ENDPOINT + 'DownloadByComplexFilter?' + $.param(post));
                                            window.open(angular.element('html').scope().CONST.SERVICE_INFO.ENDPOINT + 'DownloadByComplexFilter?' + $.param(post), '_blank');
                                        }
                                    }
                                });
                                args.element.kendoAutoComplete({
                                    serverFiltering: false,
                                    valuePrimitive: true,
                                    noDataTemplate: '',
                                    clearButton: false,
                                    placeholder: 'Search title or content ...'
                                })
                                .closest('.k-widget')
                                .addClass('k-textbox k-space-right')
                                .append('<span class=\'k-icon k-i-search\'></span>')
                                .parent().parent().parent()
                                .append(btnOpenReport)
                                .append(btnExportExcel)
                                .css('position', 'relative');
                            }
                        }
                    }
                }, {
                    title: 'Data Source',
                    field: 'Forum',
                    width: '120px',
                    filterable: false
                }, {
                    title: 'Post By',
                    template: '#=UserId#',
                    width: '200px',
                    filterable: false
                }, {
                    title: 'Influence Num',
                    field: 'ViewCount',
                    width: '180px',
                    filterable: false
                }, {
                    title: 'Time',
                    field: 'CreatedTime',
                    format: '{0: M/d/yyyy h:mm tt}',
                    width: '180px',
                    filterable: false
                }, {
                    title: 'Sentiment',
                    field: 'Sentiment',
                    values: [
                        { value: 0, text: 'Negative' },
                        { value: 2, text: 'Neutral' },
                        { value: 4, text: 'Positive' }
                    ],
                    width: '140px',
                    filterable: false
                }]"
                data-filterable="{ mode: 'row' }"
                data-sortable="true"
                data-scrollable="false"
                data-bind="source: threads"></div>
        </div>
    </div>
    <div class="actions">
        <div class="ui blue deny button">
            Close
        </div>
        <!--<div class="ui positive right labeled icon button">
            Share the view
            <i class="share icon"></i>
        </div>-->
    </div>
</div>