<div class="card fluid topic-selector" ng-class="{'active':t.TechCategoryName===query.topic}" style="min-width:150px">
    <div class="content">
        <div class="header">{{t.TechCategoryName}}</div>
        <div class="description" style="line-height:42px">
            <!--<table class="ui very compact small table">
                <thead>
                    <tr>
                        <th>Platform</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="s in t.Platforms">
                        <td>{{s.PlatformName}}</td>
                        <td>
                            <i ng-if="s.isEnabled" class="check circle icon green"></i>
                            <i ng-if="!(s.isEnabled)" class="remove circle icon red"></i>
                        </td>
                    </tr>
                </tbody>
            </table>-->
            <a class="ui label" ng-repeat="s in t.Platforms" ng-class="s.isEnabled?'green':'red'" >
                <img ng-src=public/images/{{s.PlatformName.toLowerCase()}}.png alt="" style="width:26px !important">
            </a>
        </div>
    </div>
    <div ng-if="t.isGA" class="ui green bottom attached button" ng-click="startGetData(t.TechCategoryName)">
        <i class="search icon"></i> Query
    </div>
    <div ng-if="!(t.isGA)" class="ui bottom attached button">
        <i class="search military icon"></i>  Coming Soon...
    </div>
</div>