<div class="column">
    <div class="ui active dimmer" ng-show="!complete">
        <div class="ui text loader">Loading</div>
    </div>
    <div class="ui fluid card">
        <div class="ui top attached label">
            {{title}}
            <i class="ui red right mini corner label">
                Top 5
            </i>
        </div>
        <div class="ui aligned selection celled list user-list">
            <!--TOP 1-->
            <div class="item" ng-repeat="u in users" ng-click="onClick(u,$index)">
                <!--<div class="image">-->
                <img ng-class="{'ui avatar':(!$first),'ui fluid bordered rounded':$first}" class="image" ng-init="avator = getAvatorUrl(u)"
                    ng-src="{{avator}}">
                <!--</div>-->
                <div class="content">
                    <div class="header">{{u.name}}{{u.attachedobject.name}}{{u.attachedobject.displayName}}{{u.attachedobject.display_name}}</div>
                    <div class="mete" ng-if="pnscope=='all'">
                        <b>Post Vol</b>: {{u.vocinfluence.voctotalvol|thousandsuffix}}
                    </div>
                    <div class="mete" ng-if="pnscope=='posi'">
                        <b>Positive Post Vol</b>: {{u.vocinfluence.voctotalvol|thousandsuffix}}
                    </div>
                    <div class="mete" ng-if="pnscope=='neg'">
                        <b>Negative Post Vol</b>: {{u.vocinfluence.voctotalvol|thousandsuffix}}
                    </div>
                    <div ng-if="($first)" class="mete">
                        <!--<span ng-if="pnscope!=='all'">
                        <b>Post Vol</b>: {{u.vocinfluence.voctotalvol|thousandsuffix}}
                        <br/>
                        </span>-->
                        <b>Influence Vol</b>: {{u.vocinfluence.vocinfluencedvol|thousandsuffix}}
                        <br/>
                        <span ng-if="pnscope!=='posi'">
                        <b>Positive Post Vol</b>: {{u.vocinfluence.positivetotalvol|thousandsuffix}}
                        <br/>
                        </span>
                        <span ng-if="pnscope!=='neg'">
                        <b>Negative Post Vol</b>: {{u.vocinfluence.negativetotalvol|thousandsuffix}}
                        <br/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" ng-show="!(users.length)">
            <div class="header text center">
                No Data Available
            </div>
        </div>
    </div>
</div>