<div class="column">
    <div class="ui fluid card">
        <div class="ui top attached label">{{title}}
            <i class="ui red right mini corner label">
                Top 5
            </i>
        </div>
        <div class="ui aligned selection celled list user-list">
            <!--TOP 1-->
            <div class="item" ng-repeat="u in users" ng-click="onClick()">
                <!--<div class="image">-->
                    <img ng-class="{'ui avatar':(!$first),'ui fluid bordered rounded':$first}"  class="image" ng-init="avator = u.attachedobject.profile_image_url? u.attachedobject.profile_image_url : 'public/images/image.png'" ng-src="{{avator}}">
                <!--</div>-->
                <div class="content">
                    <div class="header">{{u.attachedobject.name}}</div>
                    <div class="mete">
                        <b>Post Vol</b>: {{u.vocinfluence.voctotalvol}}
                    </div>
                    <div ng-if="($first)" class="mete">
                        <b>Influenc Vol</b>: {{u.vocinfluence.vocinfluencedvol}}
                        <br/>
                        <b>Positive Post Vol</b>: {{u.vocinfluence.positivetotalvol}}
                        <br/>
                        <b>Negative Post Vol</b>: {{u.vocinfluence.negativetotalvol}}
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
