<div class="ui segment basic container">
    <div class="ui breadcrumb">
        <a class="section">{{CONST.APP_NAME}}</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Administrator</div>
    </div>
    <div class="ui top attached tabular menu">
        <a data-tab="services" class="item active">
            Services/Products
        </a>
        <a data-tab="notification" class="item">
            Notification
        </a>
    </div>
    <div data-tab="services" class="ui tab bottom attached segment active">
        <div class="ui orange segment">
            <h4 class="ui header orange" style="padding: 0.5rem;">
                Platforms
            </h4>
            <div class="ui grid admin cards">
                <!--<div class="column ui card">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button centerr"><i class="icon angle double down"></i></div>
                            <div class="ui green inverted button"><i class="icon plus"></i></div>
                        </div>
                    </div>
                </div>
                <div class="blurring dimmable image">

                    <img src="public/images/twitter.png">
                </div>
                <div class="content">
                    <a class="header">Azure</a>
                    <div class="meta">
                        <span class="date">Create in Sep 2014</span>
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="users icon"></i> 2 Members
                    </a>
                </div>
            </div>-->
                <admin-card ng-repeat="p in TopicWithForum" ng-init="$last && renderDimmer()">
                    <!--<platform-card-content></platform-card-content>-->
                    <div class="ui card" ng-class="{'active':isSelectedPlatform(p.platform_Name)}">
                        <div class="ui hover dimmer">
                            <div class="content">
                                <div class="center">
                                    <!--<div class="ui mini buttons">-->
                                    <div class="ui mini inverted button center" ng-click="selectPlatform($index)"><i class="icon angle double down"></i></div>
                                    <!--<div class="ui green inverted button"><i class="icon plus"></i></div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                        <div class="ui unfocus dimmer">
                        </div>
                        <div class="blurring dimmable image" style="background:#fff">
                            <img ng-src="public/images/{{p.platform_Name}}.png">
                        </div>
                        <div class="content">
                            <a class="header">{{p.platform_Name}}</a>
                        </div>
                    </div>
                </admin-card>
            </div>
        </div>
        <div class="ui violet segment" ng-show="selectedPlatformIndex!==undefined">
            <h4 class="ui header violet" style="padding: 0.5rem;">
                Services / Products
            </h4>
            <div class="ui equal width grid admin cards">
                <admin-card ng-repeat="t in TopicWithForum[selectedPlatformIndex].topics" ng-init="$last && renderDimmer()">
                    <div class="ui card" ng-class="{'active':isSelectedTopic(t.topic)}">
                        <div class="content">
                            <a class="header text center" fittext="t.topic" height="23" style="line-height: 23px;">{{t.topic}}</a>
                            <div class="ui hover dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui mini buttons">
                                            <div class="ui mini inverted button center" ng-click="selectTopic($index)"><i class="icon edit"></i></div>
                                            <div class="ui mini red inverted button" ng-click="removeTopic($index)"><i class="icon minus"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="ui unfocus dimmer">
                        </div>-->
                        </div>
                    </div>
                </admin-card>
                <div class="two wide column">
                    <div class="ui card">
                        <div class="content">
                            <a class="header text center">New</a>
                            <div class="ui hover dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui mini green inverted button" ng-click="newScope()"><i class="icon plus"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui green segment" ng-show="selectedTopic!==undefined">
            <h4 class="ui header green" style="padding: 0.5rem;">
                Scopes
            </h4>
            <!--<div class="ui card" style="width:auto">
            <div class="content">
                <div class="header">Azure</div>
            </div>
            <div class="content">
                <div class="ui sub header">Enabled Platforms</div>
            </div>
            <div class="content">
                <div class="ui sub header">Twitter Keywords</div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui green basic button">Approve</div>
                    <div class="ui red basic button">Decline</div>
                </div>
            </div>
        </div>-->
            <scope-card-content ng-transclude>
            </scope-card-content>
        </div>
        <div class="extra content" ng-show="isDirty()">
            <div class="ui two buttons">
                <div class="ui green basic button" ng-click="approveUpdate()">Approve</div>
                <div class="ui red basic button" ng-click="cancelUpdate()">Decline</div>
            </div>
        </div>
    </div>
    <div data-tab="notification" class="ui tab bottom attached segment">
        <!--<div class="ui grid">
            <div class="three wide column">
                <div class="ui vertical fluid tabular menu">
                    <a data-tab="azure" class="active item" style="margin-top: 0em">
                        Azure
                    </a>
                    <a data-tab="uwp" class="item" style="margin-top: 0em">
                        UWP
                    </a>
                    <a data-tab="office" class="item" style="margin-top: 0em">
                        Office
                    </a>
                </div>
            </div>
            <div class="thirteen wide column">
                <div data-tab="azure" class="ui tab basic segment active">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="enable" tabindex="0" class="hidden">
                            <label>Enable Azure Alarm</label>
                        </div>
                        <div class="ui segment">
                            <div class="ui form">
                                <div class="field">
                                    <label>Recipients</label>
                                    <div class="fields">
                                        <div class="twelve wide field">
                                            <input type="text" name="shipping[address]" placeholder="Email Address">
                                        </div>
                                        <div class="four wide field">
                                            <button class="ui icon red basic button center"><i class="icon red remove"></i></button>
                                            <button class="ui icon green basic button center"><i class="icon green plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-tab="uwp" class="ui tab basic segment">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="enable" tabindex="0" class="hidden">
                            <label>Enable Azure Alarm</label>
                        </div>
                        <div class="ui segment">
                            <div class="ui form">
                                <div class="field">
                                    <label>Recipients</label>
                                    <div class="fields">
                                        <div class="twelve wide field">
                                            <input type="text" name="shipping[address]" placeholder="Email Address">
                                        </div>
                                        <div class="four wide field">
                                            <button class="ui icon red basic button center"><i class="icon red remove"></i></button>
                                            <button class="ui icon green basic button center"><i class="icon green plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-tab="office" class="ui tab basic segment">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="enable" tabindex="0" class="hidden">
                            <label>Enable Azure Alarm</label>
                        </div>
                        <div class="ui segment">
                            <div class="ui form">
                                <div class="field">
                                    <label>Recipients</label>
                                    <div class="fields">
                                        <div class="twelve wide field">
                                            <input type="text" name="shipping[address]" placeholder="Email Address">
                                        </div>
                                        <div class="four wide field">
                                            <button class="ui icon red basic button center"><i class="icon red remove"></i></button>
                                            <button class="ui icon green basic button center"><i class="icon green plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui green basic button">Approve</div>
                <div class="ui red basic button">Decline</div>
            </div>
        </div>-->
        <div class="ui segment blue form">
            <h5 class="ui header blue">
                Search
                <i class="link search icon pull-right" ng-click="listSubscriptions()"></i>
            </h5>
            <div class="fields">
                <div class="two wide field">
                    <label>Platform</label>
                    <select class="ui fluid dropdown" ng-model="search.datasource">
                    <option value="all">All</option>
                    <option value="{{v}}" ng-repeat="(v,p) in CONST.ALL_ENABLED_PLARFORMS">{{p}}</option>
                    </select>
                </div>
                <div class="five wide field">
                    <label>Topic</label>
                    <select class="ui fluid dropdown" ng-model="search.topic">
                    <option value="all">All</option>
                    <option value="{{t.TechCategoryName}}" ng-repeat="t in enabledTopics | filter:{isGA:true}">{{t.TechCategoryName}}</option>
                    </select>
                </div>
                <div class="five wide field">
                    <label>Message Type</label>
                    <select class="ui fluid dropdown" ng-model="search.messagetype">
                    <option value="all">All</option>
                    <option value="{{k}}" ng-repeat="(k,v) in CONST.MESSAGE_TYPES">{{v}}</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="ui icon green button" ng-click="addNCRule($event)">
            <i class="plus icon"></i> Add Notification Rule
        </button>
        <table st-table="stTable" st-safe-src="subscriptions" class="ui striped green table">
            <thead>
                <tr>
                    <th>Email
                        <span class="label">
                        <i class="popup small link info circle icon" data-content="info" data-variation="mini inverted"></i>
                    </span>
                    </th>
                    <th>Platform
                        <span class="label">
                        <i class="popup small link info circle icon" data-content="info" data-variation="mini inverted"></i>
                    </span>
                    </th>
                    <th>Topic
                        <span class="label">
                        <i class="popup small link info circle icon" data-content="info" data-variation="mini inverted"></i>
                    </span>
                    </th>
                    <th>Message Type
                        <span class="label">
                        <i class="popup small link info circle icon" data-content="info" data-variation="mini inverted"></i>
                    </span>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="m in stTable">
                    <td>{{m.EMail}}</td>
                    <td>{{CONST.ALL_ENABLED_PLARFORMS[m.Platform]||m.Platform}}</td>
                    <td>{{m.Topic}}</td>
                    <td>
                        {{CONST.MESSAGE_TYPES[m.MsgType]||m.MsgType}}
                    </td>
                    <td width="100">
                        <button class="ui icon red button" ng-click="removeSubscription(m)">
                            <i class="minus icon"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <div st-items-by-page="10" st-pagination="" st-template="/public/template/pagination.custom.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div id="removeConfirmModal" class="ui small modal">
    <div class="header">
        Attention !
    </div>
    <div class="content">
        <div class="description text red">
            This operation will remove this topic!!!
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui approve button">OK</div>
    </div>
</div>
<div id="newSubscription" class="ui small modal">
    <div class="header">
        New Notification Rule
    </div>
    <div class="content">
        <div class="description">
            <label>Email</label>
            <div class="ui input">
                <input type="text" placeholder="Email address..." ng-model="newSubscription.email">
            </div>
        </div>
        <div class="description">
            <label>Platform</label>
            <select class="ui fluid dropdown" ng-model="newSubscription.platform">
                    <option value="all">All</option>
                    <option value="{{v}}" ng-repeat="(v,p) in CONST.ALL_ENABLED_PLARFORMS">{{p}}</option>
                    </select>
        </div>
        <div class="description">
            <label>Topic</label>
            <select class="ui fluid dropdown" ng-model="newSubscription.topic">
                    <option value="all">All</option>
                    <option value="{{t.TechCategoryName}}" ng-repeat="t in enabledTopics | filter:{isGA:true}">{{t.TechCategoryName}}</option>
                    </select>
        </div>
        <div class="description">
            <label>Message Type</label>
            <select class="ui fluid dropdown" ng-model="newSubscription.msgtype">
                    <option value="all">All</option>
                    <option value="{{v}}" ng-repeat="(v,p) in CONST.MESSAGE_TYPES">{{p}}</option>
                    </select>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui approve button">OK</div>
    </div>
</div>
<div id="subscriptionDelConfirm" class="ui basic modal">
    <div class="ui icon header">
        <i class="warning sign icon"></i> Are you sure to delete this rule
    </div>
    <div class="content">
        <p style="text-align:center">
            Email: {{willDelEnt.EMail}}<br /> Platform: {{CONST.ALL_ENABLED_PLARFORMS[willDelEnt.Platform]||willDelEnt.Platform}}<br
            /> Topic: {{willDelEnt.Topic}}
            <br /> Message Type: {{CONST.MESSAGE_TYPES[willDelEnt.MsgType]||willDelEnt.MsgType}}<br />
        </p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i> No
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i> Yes
        </div>
    </div>
</div>