<div class="ui segment basic container">
    <div class="ui breadcrumb">
        <a class="section">{{CONST.APP_NAME}}</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Administrator</div>
    </div>
    <div class="ui orange segment">
        <h4 class="ui header orange" style="padding: 0.5rem;">
            Platforms
        </h4>
        <div class="ui equal width grid admin cards">
            <div class="column ui card">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button centerr"><i class="icon angle double down"></i></div>
                            <div class="ui green inverted button"><i class="icon plus"></i></div>
                        </div>
                    </div>
                </div>
                <div class="blurring dimmable image">

                    <img src="public/images/twitter.png">
                </div>
                <div class="content">
                    <a class="header">Azure</a>
                    <!--<div class="meta">
                        <span class="date">Create in Sep 2014</span>
                    </div>-->
                </div>
                <!--<div class="extra content">
                    <a>
                        <i class="users icon"></i> 2 Members
                    </a>
                </div>-->
            </div>

        </div>
    </div>
    <div class="ui violet segment">
        <h4 class="ui header violet" style="padding: 0.5rem;">
            Services / Products
        </h4>
        <div class="ui equal width grid admin cards">
            <div class="column ui card">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button centerr"><i class="icon write"></i></div>
                            <div class="ui green inverted button"><i class="icon plus"></i></div>
                        </div>
                    </div>
                </div>
                <div class="blurring dimmable image">

                    <img src="public/images/twitter.png">
                </div>
                <div class="content">
                    <a class="header">Azure</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui green segment">
        <h4 class="ui header green" style="padding: 0.5rem;">
            Scopes
        </h4>
    </div>
</div>