<div class="ui segment basic container">
    <div class="ui breadcrumb">
        <a class="section">{{CONST.APP_NAME}}</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Administrator</div>
    </div>
    <div class="ui orange segment">
        <h4 class="ui header orange" style="padding: 0.5rem;">
            Platforms
        </h4>
        <div class="ui grid admin cards">
            <!--<div class="column ui card">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button centerr"><i class="icon angle double down"></i></div>
                            <div class="ui green inverted button"><i class="icon plus"></i></div>
                        </div>
                    </div>
                </div>
                <div class="blurring dimmable image">

                    <img src="public/images/twitter.png">
                </div>
                <div class="content">
                    <a class="header">Azure</a>
                    <div class="meta">
                        <span class="date">Create in Sep 2014</span>
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="users icon"></i> 2 Members
                    </a>
                </div>
            </div>-->
            <admin-card ng-repeat="p in TopicWithForum" ng-init="$last && renderDimmer()">
                <!--<platform-card-content></platform-card-content>-->
                <div class="ui card" ng-class="{'active':isSelectedPlatform(p.platform_Name)}">
                    <div class="ui hover dimmer">
                        <div class="content">
                            <div class="center">
                                <!--<div class="ui mini buttons">-->
                                <div class="ui mini inverted button center" ng-click="selectPlatform($index)"><i class="icon angle double down"></i></div>
                                <!--<div class="ui green inverted button"><i class="icon plus"></i></div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="ui unfocus dimmer">
                    </div>
                    <div class="blurring dimmable image" style="background:#fff">
                        <img ng-src="public/images/{{p.platform_Name}}.png">
                    </div>
                    <div class="content">
                        <a class="header">{{p.platform_Name}}</a>
                    </div>
                </div>
            </admin-card>
        </div>
    </div>
    <div class="ui violet segment" ng-show="selectedPlatformIndex!==undefined">
        <h4 class="ui header violet" style="padding: 0.5rem;">
            Services / Products
        </h4>
        <div class="ui equal width grid admin cards">
            <admin-card ng-repeat="t in TopicWithForum[selectedPlatformIndex].topics" ng-init="$last && renderDimmer()">
                <div class="ui card" ng-class="{'active':isSelectedTopic(t.topic)}">
                    <div class="content">
                        <a class="header text center" fittext="t.topic" height="23" style="line-height: 23px;">{{t.topic}}</a>
                        <div class="ui hover dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui mini buttons">
                                    <div class="ui mini inverted button center" ng-click="selectTopic($index)"><i class="icon edit"></i></div>
                                    <div class="ui mini red inverted button" ng-click="removeTopic($index)"><i class="icon minus"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="ui unfocus dimmer">
                        </div>-->
                    </div>
                </div>
            </admin-card>
            <div class="two wide column">
                <div class="ui card">
                    <div class="content">
                        <a class="header text center">New</a>
                        <div class="ui hover dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui mini green inverted button" ng-click="newScope()"><i class="icon plus"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui green segment" ng-show="selectedTopic!==undefined">
        <h4 class="ui header green" style="padding: 0.5rem;">
            Scopes
        </h4>
        <!--<div class="ui card" style="width:auto">
            <div class="content">
                <div class="header">Azure</div>
            </div>
            <div class="content">
                <div class="ui sub header">Enabled Platforms</div>
            </div>
            <div class="content">
                <div class="ui sub header">Twitter Keywords</div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui green basic button">Approve</div>
                    <div class="ui red basic button">Decline</div>
                </div>
            </div>
        </div>-->
        <scope-card-content ng-transclude>
        </scope-card-content>
    </div>

    <div class="extra content" ng-show="isDirty()">
        <div class="ui two buttons">
            <div class="ui green basic button" ng-click="approveUpdate()">Approve</div>
            <div class="ui red basic button" ng-click="cancelUpdate()">Decline</div>
        </div>
    </div>
</div>

<div id="removeConfirmModal" class="ui small modal">
        <div class="header">
            Attention !
        </div>
        <div class="content">
            <div class="description text red">
                This operation will remove this topic!!!
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Cancel</div>
            <div class="ui approve button">OK</div>
        </div>
    </div>