<div class="ui segment basic container">
    <div class="ui breadcrumb">
        <a class="section">Social Health Predictor</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Dashboard</div>
    </div>
    <div class="ui orange segment clearing animated slideInUp">
        <h3 class="ui header orange">
            Services and Products
            <div class="sub pull-right header">
                <div class="ui orange horizontal label">UTC</div>
                {{dateList[0]}} ~ {{dateList.slice(-1)[0]}}
            </div>
        </h3>
        <div class="ui four cards">
            <topic-query ng-repeat="t in topics"></topic-query>
        </div>
    </div>

    <div class="ui indicating progress" ng-show="flags.m" id="progress">
        <div class="bar"></div>
    </div>
    <!--top menu end-->

    <!--query metrics-->
    <div ng-show="flags.m">

        <div id="health" class="ui segment green">
            <h3 class="ui header green">Social Health</h3>
            <div>

            </div>
        </div>
        <!--spikes charts-->
        <div id="volumes" class="ui segment teal">
            <h3 class="ui header teal">
                Volumes
            </h3>
            <div class="ui three column grid">
                <ng-echart ng-repeat="p in enabledPlatforms" title='Volume & Spikes in {{p}}' type="barLine" platform='{{p}}' query=query api-fn="getSpikes" location='home' ng-init="$last && finished()" sub-fn="getVoCDetailsByDate"></ng-echart>
            </div>

        </div>

        <div id="sentiment" class="ui blue segment">
            <h3 class="ui header blue">Sentiment</h3>
            <div class="ui three column grid">
                <ng-echart ng-repeat="p in enabledPlatforms" title="Positive & Negative Vol Distribution in {{p}}" type="pie" platform='{{p}}' query=query api-fn="getDistribution" location='home' sub-fn="getVoCDetailsByPN"></ng-echart>
            </div>
            <div class="ui three column grid">

                <div class="row">
                    <div class="column">
                        <div id="shape1" class="ui fluid card" ng-chart-shape pnscope="posi" linkage="true">
                            <div class="ui shape">
                                <div class="sides">
                                    <div class="side" ng-class="{active:$first}" page="{{p}}" ng-repeat="p in enabledPlatforms">
                                        <ng-echart title="Daily Positive Influence in {{p}}" type="axis" platform='{{p}}' query=query api-fn="getSpikes" style="height:264px;" location='home' pnscope="posi" sub-fn="getVoCDetailsByDate"></ng-echart>
                                    </div>
                                </div>
                            </div>
                            <div class="ui three ignored icon direction buttons fluid card">
                                <div class="ui left icon button" data-animation="flip" data-direction="left" title="Last"><i class="left long arrow icon"></i></div>

                                <div class="ui left label icon dropdown button">
                                    <i class="dropdown icon"></i>
                                    <input type="hidden" name="category" value="{{enabledPlatforms[0]}}">
                                    <span class="text">{{enabledPlatforms[0]}}</span>
                                    <div class="menu">
                                        <div ng-repeat="p in enabledPlatforms" class="item" data-value="{{p}}">{{p}}</div>
                                    </div>
                                </div>
                                <div class="ui right icon button" data-animation="flip" data-direction="right" title="Next"><i class="right long arrow icon"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div id="shapePosiMostUser" class="ui fluid card" ng-chart-shape>
                            <div class="ui shape">
                                <div class="sides">
                                    <div class="active side" page="Message">
                                        <ng-echart title="Positive Most Mentioned Services by Message" type="wordcloud" api-fn="getMentionedMostServiceList" platform='{{enabledPlatforms[0]}}' query=query pnscope="posi" location='home' style="height:264px;" sub-fn="getVoCDetailsByServiceName"></ng-echart>
                                    </div>
                                    <div class="side" page="User">
                                        <ng-echart title="Positive Most Mentioned Services by User" type="wordcloud" api-fn="getMentionedMostServiceListByUserVol" platform='{{enabledPlatforms[0]}}' query=query pnscope="posi" location='home' style="height:264px;" sub-fn="getVoCDetailsByServiceName"></ng-echart>
                                    </div>
                                </div>
                            </div>
                            <div class="ui three ignored icon direction buttons fluid card">
                                <div class="ui left icon button" data-animation="flip" data-direction="left" title="Last"><i class="left long arrow icon"></i></div>

                                <div class="ui left label icon dropdown button">
                                    <i class="dropdown icon"></i>
                                    <input type="hidden" name="category" value="Message">
                                    <span class="text">Message</span>
                                    <div class="menu">
                                        <div class="item" data-value="Message">Message</div>
                                        <div class="item" data-value="User">User</div>
                                    </div>
                                </div>
                                <div class="ui right icon button" data-animation="flip" data-direction="right" title="Next"><i class="right long arrow icon"></i></div>
                            </div>
                        </div>
                    </div>
                    <ng-echart title="Positive Influence - Platform" query=query type="hori" api-fn="getSpikes" pnscope="posi" location='home' no-pop="true" redirect='true'></ng-echart>
                </div>
                <div class="row">
                    <div class="column">
                        <div id="shape2" class="ui fluid card" ng-chart-shape pnscope="neg" linkage="true">
                            <div class="ui shape">
                                <div class="sides">
                                    <div class="side" ng-class="{active:$first}" page="{{p}}" ng-repeat="p in enabledPlatforms">
                                        <ng-echart title="Daily Nagetive Influence in {{p}}" type="axis" platform='{{p}}' query=query api-fn="getSpikes" style="height:264px;" location='home' pnscope="neg" sub-fn="getVoCDetailsByDate"></ng-echart>
                                    </div>

                                </div>
                            </div>
                            <div class="ui three ignored icon direction buttons fluid card">
                                <div class="ui left icon button" data-animation="flip" data-direction="left" title="Last"><i class="left long arrow icon"></i></div>

                                <div class="ui left label icon dropdown button">
                                    <i class="dropdown icon"></i>
                                    <input type="hidden" name="category" value="{{enabledPlatforms[0]}}">
                                    <span class="text">{{enabledPlatforms[0]}}</span>
                                    <div class="menu">
                                        <div ng-repeat="p in enabledPlatforms" class="item" data-value="{{p}}">{{p}}</div>
                                    </div>
                                </div>
                                <div class="ui right icon button" data-animation="flip" data-direction="right" title="Next"><i class="right long arrow icon"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div id="shapePosiMost" class="ui fluid card" ng-chart-shape>
                            <div class="ui shape">
                                <div class="sides">
                                    <div class="active side" page="Message">
                                        <ng-echart title="Negative Most Mentioned Services by Message" type="wordcloud" api-fn="getMentionedMostServiceList" platform='{{enabledPlatforms[0]}}' query=query pnscope="neg" location='home' style="height:264px;" sub-fn="getVoCDetailsByServiceName"></ng-echart>
                                    </div>
                                    <div class="side" page="User">
                                        <ng-echart title="Negative Most Mentioned Services by User" type="wordcloud" api-fn="getMentionedMostServiceListByUserVol" platform='{{enabledPlatforms[0]}}' query=query pnscope="neg" location='home' style="height:264px;" sub-fn="getVoCDetailsByServiceName"></ng-echart>
                                    </div>
                                </div>
                            </div>
                            <div class="ui three ignored icon direction buttons fluid card">
                                <div class="ui left icon button" data-animation="flip" data-direction="left" title="Last"><i class="left long arrow icon"></i></div>

                                <div class="ui left label icon dropdown button">
                                    <i class="dropdown icon"></i>
                                    <input type="hidden" name="category" value="Message">
                                    <span class="text">Message</span>
                                    <div class="menu">
                                        <div class="item" data-value="Message">Message</div>
                                        <div class="item" data-value="User">User</div>
                                    </div>
                                </div>
                                <div class="ui right icon button" data-animation="flip" data-direction="right" title="Next"><i class="right long arrow icon"></i></div>
                            </div>
                        </div>
                    </div>
                    <ng-echart title="Negative Influence - Platform" query=query type="hori" api-fn="getSpikes" pnscope="neg" location='home' no-pop="true" redirect='true'></ng-echart>
                </div>
            </div>
        </div>

        <div id="influencers" class="ui segment violet">
            <h3 class="ui header violet">
                Top Active Users
            </h3>
            <div class="ui three column grid">
                <user-list ng-repeat="p in enabledPlatforms" title='Top Users in {{p}}' users=topUsers platform='{{p}}' query=query location='home'></user-list>
            </div>
        </div>

        <div id="scrollspy" ng-scroll-spy class="">
            <div class="ui middle aligned selection list">
                <div class="item">
                    <a du-smooth-scroll="health" du-scrollspy offset="200">
                        <div class="ui label" set-color="green" data-content="Health" data-variation="mini inverted">
                            <i class="icon dashboard"></i><span ng-hide="isSmall">Health</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="volumes" du-scrollspy offset="200">
                        <div class="ui label" set-color="teal" data-content="Volumes" data-variation="mini inverted">
                            <i class="icon line chart"></i><span ng-hide="isSmall">Volumes</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="sentiment" du-scrollspy offset="200">
                        <div class="ui label" set-color="blue" data-content="Sentiment" data-variation="mini inverted">
                            <i class="icon comments"></i> <span ng-hide="isSmall">Sentiment</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="influencers" du-scrollspy offset="200">
                        <div class="ui label" set-color="violet" data-content="influencers" data-variation="mini inverted">
                            <i class="icon users"></i> <span ng-hide="isSmall">Top Active Users</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>