<div class="ui segment basic container">
    <div class="ui breadcrumb">
        <a class="section">Social Health Platform</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Dashboard</div>
    </div>
    <div class="ui orange segment clearing animated slideInUp">
        <h3 class="ui header orange">
            Services and Products
            <div class="sub pull-right header">
                <div class="ui orange horizontal label">{{TZ}}</div>
                {{dateList[0]}} - {{dateList.slice(-1)[0]}}
            </div>
        </h3>
        
        <div class="ui four cards">
            <topic-query ng-repeat="t in topics | filter:{isGA:true}"></topic-query>
        </div>
        <div class="ui secondary segment" style="margin:1rem -1rem -1rem -1rem !important;padding: 1rem;">
            <div class="one column ui grid">
            <div class="row">
                <div class="right floated right aligned column">
                <!--<i class="warning icon"></i>-->
                    Tiwtter Worker Role Last Update: <b>{{twitter_status.LastUpdate|mankindTime2String}}</b><br /> 
                <!--<i class="warning icon"></i>-->
                    Other
                    Platforms Worker Role Last Update: <b>{{others_status.LastUpdate|mankindTime2String}}</b>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="ui indicating progress" ng-show="flags.m" id="progress">
        <div class="bar"></div>
    </div>
    <!--top menu end-->
    <!--query metrics-->
    <div class="ui accordion" ng-show="flags.m">
        <div id="notifications" class="ui segment olive">
            <h3 class="ui center aligned header title active olive">
                <a ui-sref="notification">Notification Center
                        <i class="link share icon pull-right"></i>
                </a>
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="content active">
                <table class="ui striped table">
                    <thead>
                        <tr>
                            <th>Date
                                <span class="label">
                        <i class="popup small link info circle icon" data-content="Notification Created Time" data-variation="mini inverted"></i>
                    </span>
                            </th>
                            <th>Data Source
                                <span class="label">
                        <i class="popup small link info circle icon" data-content="Platform" data-variation="mini inverted"></i>
                    </span>
                            </th>
                            <th>Topic
                                <span class="label">
                        <i class="popup small link info circle icon" data-content="Topic/Service" data-variation="mini inverted"></i>
                    </span>
                            </th>
                            <th>Message Type
                                <span class="label">
                        <i class="popup small link info circle icon" data-content="Notification Detected Issue Types" data-variation="mini inverted"></i>
                    </span>
                            </th>
                            <th>Data Download
                                <span class="label">
                        <i class="popup small link info circle icon" data-content="Is Supported for Downloading Raw Data" data-variation="mini inverted"></i>
                    </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="m in collections">
                            <td>{{m.createdTime|mankindTime2String}}</td>
                            <td>{{CONST.ALL_ENABLED_PLARFORMS[m.forumName]}}</td>
                            <td>{{m.topic}}</td>
                            <td>
                                <div ng-if="m.hasDetails">
                                    <a style="cursor:pointer" ng-click="showdetails(m)">{{CONST.MESSAGE_TYPES[m.msgType]}}</a>
                                </div>
                                <div ng-if="!m.hasDetails">
                                    {{CONST.MESSAGE_TYPES[m.msgType]}}
                                </div>
                            </td>
                            <td>
                                <div ng-bind-html="generateDownloadUrl(m)"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--<div id="health" class="ui segment blue">
            <h3 class="ui center aligned title header blue active">Social Health Summary
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="ui one column grid content active">
                <div class="ui top attached tabular menu">
                    <a class="item" ng-class="{active:$first}" data-tab="{{p}}" ng-repeat="p in enabledPlatforms">{{p}}</a>
                </div>
                <div class="ui bottom attached tab segment" ng-class="{active:$first}" ng-repeat="p in enabledPlatforms" data-tab="{{p}}">
                    <ng-radar-echart title='{{p}} - Social Health' query=query platform='{{p}}' location='home'></ng-radar-echart>
                </div>
            </div>
        </div>-->
        <!--spikes charts-->
        <div id="volumes" class="ui segment teal">
            <h3 class="ui center aligned header title teal">
                Volumes & Spikes
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="ui three column grid content">
                <ng-echart ng-repeat="p in enabledPlatforms" title='Volume & Spikes in {{p}}' type="barLine" platform='{{p}}' query=query info="Daily Post Vol and Spike vol in {{p}}"
                    api-fn="getSpikes" location='home' ng-init="$last && finished()" sub-fn="getVoCDetailsByDate"></ng-echart>
            </div>
        </div>
        <div id="sentiment" class="ui purple segment">
            <h3 class="ui center aligned header title purple">Sentiment
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="content">
                <div class="ui three column grid">
                    <ng-echart ng-repeat="p in enabledPlatforms" title="Volume Sentiment Distribution in {{p}}" type="pie" platform='{{p}}' query=query info="Detected Posts' Sentiment Distribution in {{p}}"
                        api-fn="getDistribution" location='home' sub-fn="getVoCDetailsByPN" no-swap="true"></ng-echart>
                </div>
                <div class="ui three column grid">
                    <div class="row">
                        <div class="column">
                            <div id="shape1" class="ui fluid card" ng-chart-shape pnscope="posi" linkage="true">
                                <div class="ui shape">
                                    <div class="sides">
                                        <div class="side" ng-class="{active:$first}" page="{{p}}" ng-repeat="p in enabledPlatforms">
                                            <ng-echart title="Positive Influence in {{p}}" platform='{{p}}' query=query api-fn="getInfluence" type="influence" style="height:306px;" info="Daily Positive Posts' Influence Vol Trend"
                                                location='home' pnscope="posi" sub-fn="getVoCDetailsByDate"></ng-echart>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui three ignored icon direction buttons fluid card">
                                    <div class="ui left icon button" data-animation="flip" data-direction="left" title="Last"><i class="left long arrow icon"></i></div>
                                    <div class="ui left label icon dropdown button">
                                        <i class="dropdown icon"></i>
                                        <input type="hidden" name="category" value="{{enabledPlatforms[0]}}">
                                        <span class="text">{{enabledPlatforms[0]}}</span>
                                        <div class="menu">
                                            <div ng-repeat="p in enabledPlatforms" class="item" data-value="{{p}}">{{p}}</div>
                                        </div>
                                    </div>
                                    <div class="ui right icon button" data-animation="flip" data-direction="right" title="Next"><i class="right long arrow icon"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div id="shapePosiMostUser" class="ui fluid card" ng-chart-shape>
                                <div class="ui shape">
                                    <div class="sides">
                                        <div class="active side" page="Message">
                                            <ng-echart title="Positive Most Mentioned Services by Message" type="wordcloud" api-fn="getMentionedMostServiceList" platform='{{enabledPlatforms[0]}}'
                                                query=query pnscope="posi" location='home' style="height:306px;" sub-fn="getVoCDetailsByServiceName" info="Detected Service Vol from Positive Posts"></ng-echart>
                                        </div>
                                        <div class="side" page="User">
                                            <ng-echart title="Positive Most Mentioned Services by User" type="wordcloud" api-fn="getMentionedMostServiceListByUserVol"
                                                platform='{{enabledPlatforms[0]}}' query=query pnscope="posi" location='home'
                                                style="height:306px;" sub-fn="getVoCDetailsByServiceName"  info="Detected Service Vol from Positive Users"></ng-echart>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui three ignored icon direction buttons fluid card">
                                    <div class="ui left icon button" data-animation="flip" data-direction="left" title="Last"><i class="left long arrow icon"></i></div>
                                    <div class="ui left label icon dropdown button">
                                        <i class="dropdown icon"></i>
                                        <input type="hidden" name="category" value="Message">
                                        <span class="text">Message</span>
                                        <div class="menu">
                                            <div class="item" data-value="Message">Message</div>
                                            <div class="item" data-value="User">User</div>
                                        </div>
                                    </div>
                                    <div class="ui right icon button" data-animation="flip" data-direction="right" title="Next"><i class="right long arrow icon"></i></div>
                                </div>
                            </div>
                        </div>
                        <ng-echart title="Positive Influence - Platform" query=query type="hori" api-fn="getInfluence" pnscope="posi" location='home'
                            no-pop="true" redirect='true' info="Total Positive Posts' Influence"></ng-echart>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div id="shape2" class="ui fluid card" ng-chart-shape pnscope="neg" linkage="true">
                                <div class="ui shape">
                                    <div class="sides">
                                        <div class="side" ng-class="{active:$first}" page="{{p}}" ng-repeat="p in enabledPlatforms">
                                            <ng-echart title="Negative Influence in {{p}}" platform='{{p}}' query=query api-fn="getInfluence" style="height:306px;" type="influence"
                                                location='home' pnscope="neg" sub-fn="getVoCDetailsByDate" info="Daily Negative Posts' Influence Vol Trend"></ng-echart>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui three ignored icon direction buttons fluid card">
                                    <div class="ui left icon button" data-animation="flip" data-direction="left" title="Last"><i class="left long arrow icon"></i></div>
                                    <div class="ui left label icon dropdown button">
                                        <i class="dropdown icon"></i>
                                        <input type="hidden" name="category" value="{{enabledPlatforms[0]}}">
                                        <span class="text">{{enabledPlatforms[0]}}</span>
                                        <div class="menu">
                                            <div ng-repeat="p in enabledPlatforms" class="item" data-value="{{p}}">{{p}}</div>
                                        </div>
                                    </div>
                                    <div class="ui right icon button" data-animation="flip" data-direction="right" title="Next"><i class="right long arrow icon"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div id="shapePosiMost" class="ui fluid card" ng-chart-shape>
                                <div class="ui shape">
                                    <div class="sides">
                                        <div class="active side" page="Message">
                                            <ng-echart title="Negative Most Mentioned Services by Message" type="wordcloud" api-fn="getMentionedMostServiceList" platform='{{enabledPlatforms[0]}}'
                                                query=query pnscope="neg" location='home' style="height:306px;" sub-fn="getVoCDetailsByServiceName" info="Detected Service Vol from Negative Posts"></ng-echart>
                                        </div>
                                        <div class="side" page="User">
                                            <ng-echart title="Negative Most Mentioned Services by User" type="wordcloud" api-fn="getMentionedMostServiceListByUserVol"
                                                platform='{{enabledPlatforms[0]}}' query=query pnscope="neg" location='home'
                                                style="height:306px;" sub-fn="getVoCDetailsByServiceName" info="Detected Service Vol form Negative Users"></ng-echart>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui three ignored icon direction buttons fluid card">
                                    <div class="ui left icon button" data-animation="flip" data-direction="left" title="Last"><i class="left long arrow icon"></i></div>
                                    <div class="ui left label icon dropdown button">
                                        <i class="dropdown icon"></i>
                                        <input type="hidden" name="category" value="Message">
                                        <span class="text">Message</span>
                                        <div class="menu">
                                            <div class="item" data-value="Message">Message</div>
                                            <div class="item" data-value="User">User</div>
                                        </div>
                                    </div>
                                    <div class="ui right icon button" data-animation="flip" data-direction="right" title="Next"><i class="right long arrow icon"></i></div>
                                </div>
                            </div>
                        </div>
                        <ng-echart title="Negative Influence - Platform" query=query type="hori" api-fn="getInfluence" pnscope="neg" location='home'
                            no-pop="true" redirect='true' info="Total Negative Posts' Influence"></ng-echart>
                    </div>
                </div>
            </div>
        </div>
        <div id="analytics" class="ui green segment">
            <h3 class="ui center aligned header title green">
                Services Analytics
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="ui grid content">
                <div ng-repeat="p in enabledPlatforms" class="two column row">
                    <div class="ui shape column">
                        <div class="sides">
                            <div class="side active">
                                <ng-echart title="Mentioned (Messages Vol) {{global.topic}} Services in {{p}}" type="pie" platform='{{p}}' query=query api-fn="getMentionedMostServiceDistribution"
                                    property-select="messages" location="home" sub-fn="getVoCDetailsByServiceName" association="message_{{p}}" info="Detected Services Distribution by Post"></ng-echart>
                            </div>
                            <div class="side">
                                <mentioned-table platform='{{p}}' query=query association="message_{{p}}"></mentioned-table>
                            </div>
                        </div>
                    </div>
                    <div class="ui shape column">
                        <div class="sides">
                            <div class="side active">
                                <ng-echart title="Mentioned (Users Vol) {{global.topic}} Services in {{p}}" type="pie" platform='{{p}}' query=query api-fn="getMentionedMostServiceListByUserVol"
                                    property-select="users" location="home" sub-fn="getVoCDetailsByServiceName" association="user_{{p}}" info="Detected Services Distribution by User"></ng-echart>
                            </div>
                            <div class="side">
                                <mentioned-table platform='{{p}}' query=query association="user_{{p}}"></mentioned-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="influencers" class="ui segment orange">
            <h3 class="ui center aligned header orange title">
                Top Active Users
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="ui three column grid content">
                <user-list ng-repeat="p in enabledPlatforms" title='Top Users in {{p}}' users=topUsers platform='{{p}}' query=query location='home'></user-list>
            </div>
        </div>
        <div id="scrollspy" ng-scroll-spy class="">
            <div class="ui middle aligned selection list">
                <div class="item">
                    <a du-smooth-scroll="notifications" du-scrollspy offset="200">
                        <div class="ui label" set-color="violet" data-content="Notification" data-variation="mini inverted">
                            <i class="icon line alarm"></i><span ng-hide="isSmall">Notification Center</span>
                        </div>
                    </a>
                </div>
                <!--<div class="item">
                    <a du-smooth-scroll="health" du-scrollspy offset="50">
                        <div class="ui label" set-color="blue" data-content="Health Summary" data-variation="mini inverted">
                            <i class="icon dashboard"></i><span ng-hide="isSmall">Health Summary</span>
                        </div>
                    </a>
                </div>-->
                <div class="item">
                    <a du-smooth-scroll="volumes" du-scrollspy offset="200">
                        <div class="ui label" set-color="teal" data-content="Volumes" data-variation="mini inverted">
                            <i class="icon line chart"></i><span ng-hide="isSmall">Volumes & Spikes</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="sentiment" du-scrollspy offset="300">
                        <div class="ui label" set-color="purple" data-content="Sentiment" data-variation="mini inverted">
                            <i class="icon heartbeat"></i> <span ng-hide="isSmall">Sentiment</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="analytics" du-scrollspy offset="300">
                        <div class="ui label" set-color="green" data-content="Services Analytics" data-variation="mini inverted">
                            <i class="icon comments"></i> <span ng-hide="isSmall">Services Analytics</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="influencers" du-scrollspy offset="300">
                        <div class="ui label" set-color="orange" data-content="Top Active Users" data-variation="mini inverted">
                            <i class="icon users"></i> <span ng-hide="isSmall">Top Active Users</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>