<div class="ui segment basic container" ng-controller="homeCtrl">
            <!--<div class="ui horizontal divider"></div>-->
            <!--do you know content-->
            <div class="ui blue segment">
                <h3 class="ui header blue">
                    Do you know how our products look like from an eye of  your experienced customers?
                </h3>
                <div class="ui relaxed middle aligned divided list">
                    <div class="item">
                        <i class="help blue icon"></i>How many people are talking about our products via online community channels?
                    </div>
                    <div class="item">
                        <i class="help blue icon"></i>How many UGC or VoC are generated to discuss about our products?
                    </div>
                    <div class="item">
                        <i class="help blue icon"></i>How many users are saying 'Great' for our products? While how many customers are saying 'Just so so'? Are their perspective is changing recently?
                    </div>
                    <div class="item">
                        <i class="help blue icon"></i>What exactly customers are saying mostly for 'Great' or 'Just so so' on your products? How many audience being influenced recently that case of what they said?
                    </div>
                    <div class="item">
                        <i class="help blue icon"></i>Where are the original posters? What we can do for better supporting our customers? Is there any action plan / results we can foresee?
                    </div>
                    <h3 class="ui blue message text center">
                    The way for figuring outanswers of those questions is the idea behind S3P project.
                </h3>
                </div>
            </div>
            <div class="ui green segment">
                <h3 class="ui header green">
                    Do you know what would be happend within a week?
                </h3>
                <h3 class="ui green message text center">
                    A week could let us fully understand our users' needs ...
                </h3>
                <div class="ui relaxed middle aligned divided list">
                    <div class="item">
                        <i class="info green icon"></i>A week could make you ...
                    </div>
                    <div class="item">
                        <i class="info green icon"></i>A week could make you ...
                    </div>
                    <div class="item">
                        <i class="info green icon"></i>A week could make you ...
                    </div>
                    <div class="item">
                        <i class="info green icon"></i>A week could make us host a successful hackathon event ...
                    </div>
                    <div class="item">
                        <i class="info green icon"></i>A week could make us host a successful hackathon event ...
                    </div>
                </div>
            </div>
            <!--query category-->
            <div class="ui red segment clearing">
                <h3 class="ui header red">
                    Top Queried Categories
                    <div class="sub right header">
                        <div class="ui red horizontal label">UTC</div>
                        {{dateList[0]}} ~ {{dateList.slice(-1)[0]}}
                    </div>
                </h3>
                <div class="ui four cards">
                    <div class="card fluid">
                        <div class="content">
                            <div class="header">Azure</div>
                            <div class="description">
                                Azure is cloud platform provided by Microsoft.
                            </div>
                        </div>
                        <div class="ui green bottom attached button">
                            <i class="search icon"></i> Query
                        </div>
                    </div>
                    <div class="card fluid">
                        <div class="content">
                            <div class="header">UWP</div>
                            <div class="description">
                                UWP.
                            </div>
                        </div>
                        <div class="ui green bottom attached button">
                            <i class="search icon"></i> Query
                        </div>
                    </div>
                    <div class="card fluid">
                        <div class="content">
                            <div class="header">PowerBI</div>
                            <div class="description">
                                PowerBI
                            </div>
                        </div>
                        <div class="ui bottom attached button">
                            <i class="military icon"></i> Coming Soon...
                        </div>
                    </div>
                    <div class="card fluid">
                        <div class="content">
                            <div class="header">PowerBI</div>
                            <div class="description">
                                PowerBI
                            </div>
                        </div>
                        <div class="ui bottom attached button">
                            <i class="military icon"></i> Coming Soon...
                        </div>
                    </div>
                </div>
            </div>
            <!--top menu end-->

            <div class="ui three column grid">
                <!--user list-->
                <div class="row">
                    <user-list title='XXXX Users in Twitter' users=topUsers platform='twitter'></user-list>
                    <user-list title='XXXX Users in SO' users=topUsers platform='so'></user-list>
                    <user-list title='XXXX Users in SF' users=topUsers platform='sf'></user-list>
                </div>
                <div class="row">
                    <user-list title='XXXX Users in SU' users=topUsers platform='su'></user-list>
                    <user-list title='XXXX Users in MSDN' users=topUsers platform='msdn'></user-list>
                    <user-list title='XXXX Users in TN' users=topUsers platform='tn'></user-list>
                </div>

                <!--spikes charts-->
                <div class="row">
                    <ng-echart title='Daily Spikes in Twitter' type="axis" platform='twitter' api-fn="getSpikes"></ng-echart>
                    <ng-echart type="axis" platform='twitter' api-fn="getSpikes"></ng-echart>
                    <ng-echart type="axis" platform='twitter' api-fn="getSpikes"></ng-echart>
                </div>
                <div class="row">
                    <ng-echart type="axis" platform='twitter' api-fn="getSpikes"></ng-echart>
                    <ng-echart type="axis" platform='twitter' api-fn="getSpikes"></ng-echart>
                    <ng-echart type="axis" platform='twitter' api-fn="getSpikes"></ng-echart>
                </div>
                <div class="row">
                    <ng-echart title="Positive & Negative Vol Distribution in Twitter" type="pie" platform='twitter' api-fn="getDistribution"></ng-echart>
                    <ng-echart title="Positive & Negative Vol Distribution in SO" type="pie" platform='twitter' api-fn="getDistribution"></ng-echart>
                    <ng-echart title="Positive & Negative Vol Distribution in SU" type="pie" platform='twitter' api-fn="getDistribution"></ng-echart>
                </div>
                <div class="row">
                    <ng-echart title="Positive & Negative Vol Distribution in SF" type="pie" platform='twitter' api-fn="getDistribution"></ng-echart>
                    <ng-echart title="Positive & Negative Vol Distribution in MSDN" type="pie" platform='twitter' api-fn="getDistribution"></ng-echart>
                    <ng-echart title="Positive & Negative Vol Distribution in TN" type="pie" platform='twitter' api-fn="getDistribution"></ng-echart>
                </div>
                <div class="row">
                    <ng-echart title="POSI mentioned most" type="wordcloud" api-fn="getMentionedMostServiceList" pnscope="posi"></ng-echart>
                </div>
                <div class="row">
                    <ng-echart title="Negative mentioned most" type="wordcloud" api-fn="getMentionedMostServiceList" pnscope="neg"></ng-echart>
                </div>
            </div>
        </div>