<div class="ui segment basic container">

    <div class="ui breadcrumb">
        <a class="section">Social Health Platform</a>
        <i class="right angle icon divider"></i>
        <div class="active section">What's Social Health Platform</div>
    </div>
    <!--<div class="ui horizontal divider"></div>-->
    <!--do you know content-->
    <div class="ui blue segment animated slideInUp">
        <h2 class="ui header blue">
            Overall social health of the service or the product
        </h2>
        <div class="ui relaxed middle aligned divided list">
            <div class="item animated flash">
                <i class="info green icon"></i>Volumes and spikes in volumes over a certain period of time.
            </div>
            <div class="item animated flash">
                <i class="info green icon"></i>Predicting potential service health issues using spikes in volume in social media and online forums communities
            </div>
            <div class="item animated flash">
                <i class="help blue icon"></i>What is the sentiment (positive, negative, neutral) of customers around their support experience?
            </div>
            <div class="item animated flash">
                <i class="help blue icon"></i>What is the sentiment (positive, negative, neutral) of customers around our products and services?
            </div>
            <div class="item animated flash">
                <i class="help blue icon"></i>Which services or products are being talked the most by the customers?
            </div>
            <div class="item animated flash">
                <i class="help blue icon"></i>Which services or products are the most liked and disliked by the customers?
            </div>
            <div class="item animated flash">
                <i class="help blue icon"></i>Which users and influencers are talking about our services and products using the social media and online communities?
            </div>
            <div class="item animated flash">
                <i class="help blue icon"></i>Which customers or users are most vocal, active and capable of influencing others?
            </div>
            <div class="item animated flash">
                <i class="help blue icon"></i>How does customer sentiment and behavior compare between social media channel vs. forums communities?
            </div>
        </div>
    </div>
    <div class="ui green segment animated slideInUp">
        <h2 class="ui header green">
            Social Health Platform project would provide you a real time view for what's happening during last 7 days
        </h2>
        <div class="ui two column grid">
            <div class="card column fluid animated bounceInRight">
                <div class="content">
                    <div class="header">
                        <h3 class="ui yellow message text center">
                            How we make it?
                        </h3>
                    </div>
                    <div class="description">
                        <div class="ui image"><img src="../public/images/howwemakeit.png" onclick="window.open('public/images/howwemakeit.png','_blank')" style="cursor:pointer"></div>
                    </div>
                </div>
            </div>
            <div class="card column fluid animated bounceInLeft ">
                <div class="content">
                    <div class="header">
                        <h3 class="ui green message text center">
                            What can we get from it?
                        </h3>
                    </div>
                    <div class="description">
                        <div class="ui image"><img src="../public/images/whatcanweget.png" onclick="window.open('public/images/whatcanweget.png','_blank')" style="cursor:pointer"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="ui violet segment animated slideInUp">
        <h2 class="ui header violet">
            Social Health Platform Project's Architecture
        </h2>
        <div class="card fluid animated bounceInRight">
            <div class="content">
                <div class="header">
                    <h3 class="ui violet message text center" style="font-size:large">
                        How we create Social Health Platform
                    </h3>
                </div>
                <div class="description" style="margin-top:5px">
                    <div class="ui image rounded"><img src="../public/images/Architecture.png" onclick="window.open('public/images/Architecture.png','_blank')" style="cursor:pointer"></div>
                </div>
            </div>
        </div>

    </div>

</div>