<div class="ui segment basic container">

    <div class="ui breadcrumb">
        <a class="section">S3P</a>
        <i class="right angle icon divider"></i>
        <div class="active section">What's S3P</div>
    </div>
    <!--<div class="ui horizontal divider"></div>-->
    <!--do you know content-->
    <div class="ui blue segment animated slideInUp">
        <h2 class="ui header blue">
            Do you know how our products look like from an eye of your experienced customers?
        </h2>
        <div class="ui relaxed middle aligned divided list">
            <div class="item animated flash">
                <i class="help blue icon"></i>How many people are talking about our products via online community channels?
            </div>
            <div class="item animated flash">
                <i class="help blue icon"></i>How many UGC or VoC are generated to discuss about our products?
            </div>
            <div class="item animated flash">
                <i class="help blue icon"></i>How many users are saying 'Great' for our products? While how many customers are mentioning 'Just so so'? Are their perspectives changing recently?
            </div>
            <div class="item animated flash">
                <i class="help blue icon"></i>What exactly customers are saying mostly for 'Great' or 'Just so so' on our products? How many audience being influenced that cause of what they have said?
            </div>
            <div class="item animated flash">
                <i class="help blue icon"></i>Where are the original posters? What can we do for better supporting our customers? Is there any action plan / result we can foresee?
            </div>

        </div>
    </div>
    <div class="ui green segment animated slideInUp">
        <h2 class="ui header green">
            S3P project would provide you a real time view for what's happening during last 7 days
        </h2>
        <div class="ui two column grid">
            <div class="card column fluid animated bounceInRight">
                <div class="content">
                    <div class="header">
                        <h3 class="ui yellow message text center">
                            How we make it?
                        </h3>
                    </div>
                    <div class="description">
                        <div class="ui image"><img src="../public/images/howwemakeit.png"></div>
                    </div>
                </div>
            </div>
            <div class="card column fluid animated bounceInLeft ">
                <div class="content">
                    <div class="header">
                        <h3 class="ui green message text center">
                            What can we get from it?
                        </h3>
                    </div>
                    <div class="description">
                        <div class="ui image"><img src="../public/images/whatcanweget.png"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="ui violet segment animated slideInUp">
        <h2 class="ui header violet">
            S3P Project's Architecture
        </h2>
        <div class="card fluid animated bounceInRight">
            <div class="content">
                <div class="header">
                    <h3 class="ui violet message text center">
                        How we create S3P
                    </h3>
                </div>
                <div class="description">
                    <div class="ui image"><img src="../public/images/Architecture.png" onclick="window.open('public/images/Architecture.png','_blank')" style="cursor:pointer"></div>
                </div>
            </div>
        </div>

    </div>

</div>