<div class="ui segment basic container">
    <div class="ui breadcrumb">
        <a class="section">{{CONST.APP_NAME}}</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Notification Center</div>
    </div>
    <div class="ui segment form">
        <h5 class="ui header">
            Search
        </h5>
        <div class="four fields">
            <div class="field">
                <label>Data Source</label>
                <select class="ui fluid dropdown">
                    <option value="0">all</option>
                    <option value="{{v}}" ng-repeat="(v,p) in platforms">{{p}}</option>
                </select>
            </div>
            <div class="field">
                <label>Message Type</label>
                <select class="ui fluid dropdown">
                    <option value="0">all</option>
                    <option value="{{k}}" ng-repeat="(k,v) in CONST.MESSAGE_TYPES">{{v}}</option>
                    </select>
            </div>
            <div class="field">
                <label>Date</label>
                <datepicker date-format="yyyy-MM-dd" selector="input-text">
                    <div class="ui left icon input">
                        <input class="input-text" ng-model="date" type="text" />
                        <i class="calendar icon"></i>
                    </div>
                </datepicker>
            </div>
            <div class="field">
                <label>Data Download Available</label>
                <select class="ui fluid dropdown">
                    <option value="0">all</option>
                     <option value="1">Available</option>
                     <option value="-1">Unavailable</option>
                    </select>
            </div>
        </div>
    </div>
    <table class="ui striped green table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Data Source</th>
                <th>Message</th>
                <th>Data Download</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="m in notifications">
                <td>{{m.date}}</td>
                <td>{{platforms[m.dataSource]}}</td>
                <td>{{CONST.MESSAGE_TYPES[m.messageType]}}</td>
                <td>{{m.link}}</td>
            </tr>
        </tbody>
    </table>
    <button type="button" ng-click="adaltest()">adaltest</button>
</div>