<div class="ui segment basic container report" ng-non-bindable>
    <div class="title" data-bind="html: ReportTitle"></div>
    <div class="sub-title">
        <div>
            <span class="data-source">
                <span class="caption forum">Data Source:</span>
            <span class="icon" data-bind="html: ForumName, style: { backgroundImage: ForumIconUrl }"></span>
            </span>
            <span class="date-range" data-bind="html: DateRangeHtml"></span>
        </div>
        <div class="data-source">
            <span class="caption">Search Phrase:</span>
            <span data-bind="html: Search"></span>
        </div>
    </div>
    <div class="section summary" data-bind="css: { no-data: IsNoThread }">
        <div class="brand"></div>
        <table>
            <tr>
                <td>
                    <div class="card" style="color: #6435C9;">
                        <div class="caption">Message Posts</div>
                        <span data-bind="html: ThreadCountText"></span>
                    </div>
                </td>
                <td>
                    <div class="card" style="color: #FBBD08;">
                        <div class="caption">
                            Influence of Users
                            <br />(Page View)
                        </div>
                        <span data-bind="html: TotalViewCountText"></span>
                    </div>
                </td>
                <td>
                    <div class="card" style="color: #F2711C;">
                        <div class="caption">Unique Users of Posts</div>
                        <span data-bind="html: UserCountText"></span>
                    </div>
                </td>
                <td>
                    <div class="card" style="color: #B5CC18;">
                        <div class="caption">Regions of Users</div>
                        <span data-bind="html: RegionCountText"></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="section flexible sentiment collapsed" data-bind="css: { no-data: IsNoThread }">
        <div class="brand" data-bind="events: { click: OnSectionStretch }">
            <span class="arrow"></span>
        </div>
        <div class="content">
            <div id="chartSentiments"></div>
            <div data-role="grid" data-scrollable="false" data-sortable="true" data-pageable="true" data-noRecords="true" data-columns="[{
                    field: 'Title',
                    attributes: {
                        style: 'max-width: 400px; white-space: nowrap; overflow: hidden;'
                    },
                    template: '<a target=\'_blank\' href=\'#=Link#\' title=\'#=User.Name#\' style=\'white-space: nowrap; overflow: hidden;\'>#=Title#</a>'
                 }, {
                    title: 'Post By',
                    field: 'User.Name',
                    attributes: {
                        style: 'max-width: 100px; white-space: nowrap; overflow: hidden;'
                    },
                    template: '<span title=\'#=User.Name#\'>#=User.Name#</span>'
                 }, {
                    field: 'Sentiment',
                    values: sentimentValues,
                    width: '100px'
                 }]" data-bind="source: ThreadsInSelectedSentiments"></div>
        </div>
    </div>
    <div class="section flexible services collapsed" data-bind="css: { no-data: IsNoThread }">
        <div class="brand" data-bind="events: { click: OnSectionStretch }">
            <span class="arrow"></span>
        </div>
        <div class="content">
            <div id="chartMentionedServices"></div>
            <div data-role="grid" data-scrollable="false" data-sortable="true" data-pageable="true" data-noRecords="true" data-columns="[{
                    title: 'Service Name',
                    field: 'name'
                 }, {
                    title: 'Post Vol',
                    field: 'value',
                    width: '120px'
                 }, {
                    title: 'Ratio',
                    field: 'ratio',
                    format: '{0:p2}',
                    width: '100px'
                 }]" data-bind="source: MentionedServices"></div>
        </div>
    </div>
    <div class="section flexible users collapsed" data-bind="css: { no-data: IsNoThread }">
        <div class="brand" data-bind="events: { click: OnSectionStretch }">
            <span class="arrow"></span>
        </div>
        <div class="content" data-template="templateUserCard" data-bind="source: Top5VoCUser, css: { only-one: Top5VoCUserIsOnlyOne }"></div>
        <script id="templateUserCard" type="text/x-kendo-template">
            <div class="user card" style="background-image: url('#=ProfilePicUrl#');">
                <span class="name" title="#=Name#">#=Name#</span>
                <span class="caption">Post Vol: </span>
                <span class="value">#=PostCount#</span>
                <span class="caption">Influence Vol: </span>
                <span class="value">#=ViewCount#</span>
                <span class="caption">Positive Post Vol: </span>
                <span class="value">#=PositivePostCount#</span>
                <span class="caption">Negative Post Vol: </span>
                <span class="value">#=NegativePostCount#</span>
            </div>
        </script>
    </div>
    <div class="section flexible world collapsed" data-bind="css: { no-data: IsNoThread }">
        <div class="brand" data-bind="events: { click: OnSectionStretch }">
            <span class="arrow"></span>
        </div>
        <div class="content">
            <div id="chartUserRegions"></div>
            <div data-role="grid" data-scrollable="false" data-sortable="true" data-pageable="{ buttonCount: 3 }" data-noRecords="true"
                data-columns="[{
                    title: 'Region',
                    field: 'name'
                 }, {
                    title: 'User Vol',
                    field: 'value',
                    width: '120px'
                 }, {
                    title: 'Ratio',
                    field: 'ratio',
                    format: '{0:p2}',
                    width: '100px'
                 }]" data-bind="source: UserDistributionsInSelectedRegions"></div>
        </div>
    </div>
    <div class="message-no-records" data-bind="css: { no-data: IsNoThread }">
        No Data Available
    </div>
</div>
<script type="text/javascript">
    var debug = true;
    var sentimentAliases = { 0: "NEG", 2: "NEU", 4: "POS" };
    var sentimentValues = [
        { value: 0, text: 'Negative' },
        { value: 2, text: 'Neutral' },
        { value: 4, text: 'Positive' }
    ];
    var scope = angular.element("html").scope();
    var model = kendo.data.Model.define({
        fields: {
            ReportTitle: { type: "string", defaultValue: "Report" },
            Forum: { type: "string" },
            StartTime: { type: "date" },
            EndTime: { type: "date" },
            Search: { type: "string", defaultValue: "N/A" },
            Threads: { type: "object", defaultValue: [] },
            MentionedServices: { type: "object", defaultValue: [] },
            Top5VoCUser: { type: "object", defaultValue: [] },
            UserDistributions: { type: "object", defaultValue: [] },
            SelectedSentiments: { type: "object", defaultValue: [0, 2, 4] },
            SelectedRegions: { type: "object", defaultValue: [] }
        },
        _FormatNumber: function (number) {
            if ($.isNumeric(number) === false) { return "N/A"; }
            if (number < 1000) { return number; }
            var suffixes = ['k', 'M', 'G', 'T', 'P', 'E'];
            var exp = Math.floor(Math.log(number) / Math.log(1000));
            var matches = /(^.+\.(\d*[1-9])?)\.?0*$/g.exec((number / Math.pow(1000, exp)).toFixed(3));
            if (matches && matches.length > 1) {
                return matches[1] + suffixes[exp - 1];
            } else {
                console.warn("Cannot format number", number, (number / Math.pow(1000, exp)), matches);
                return number;
            }
        },
        ThreadCount: function () {
            return (this.get("Threads") || []).length;
        },
        IsNoThread: function () {
            return this.get("ThreadCount()") === 0;
        },
        ThreadCountText: function () {
            return viewModel._FormatNumber(this.get("ThreadCount()"));
        },
        TotalViewCount: function () {
            var count = 0;
            $.each(this.get("Threads"), function (i, thread) {
                count += thread.ViewCount;
            });
            return count;
        },
        TotalViewCountText: function () {
            return viewModel._FormatNumber(this.get("TotalViewCount()"));
        },
        UserCount: function () {
            var users = [];
            $.each(this.get("Threads"), function (i, thread) {
                if (users.indexOf(thread.User.Id) < 0) {
                    users.push(thread.User.Id);
                }
            });
            return users.length;
        },
        UserCountText: function () {
            return viewModel._FormatNumber(this.get("UserCount()"));
        },
        RegionCount: function () {
            var regions = [];
            $.each(this.get("Threads"), function (i, thread) {
                if (regions.indexOf(thread.User.Region) < 0) {
                    regions.push(thread.User.Region);
                }
            });
            return regions.length;
        },
        RegionCountText: function () {
            return viewModel._FormatNumber(this.get("RegionCount()"));
        },
        ThreadsInSelectedSentiments: function () {
            var filters = [];
            $.each(this.get("SelectedSentiments"), function (i, sentiment) {
                filters.push({ field: "Sentiment", operator: "eq", value: parseInt(sentiment) });
            });
            if (filters.length === 0) {
                return [];
            } else {
                return new kendo.data.DataSource({
                    data: this.get("Threads"),
                    filter: {
                        logic: "or",
                        filters: filters
                    },
                    pageSize: 7
                });
            }
        },
        UserDistributionsInSelectedRegions: function () {
            var data = this.get("UserDistributions");
            var regions = this.get("SelectedRegions");
            if (regions.length === 0) {
                return new kendo.data.DataSource({
                    data: data,
                    pageSize: 7
                });
            } else {
                var filters = [];
                $.each(regions, function (i, region) {
                    filters.push({ field: "name", operator: "eq", value: region });
                });
                return new kendo.data.DataSource({
                    data: data,
                    filter: {
                        logic: "or",
                        filters: filters
                    },
                    pageSize: 7
                });
            }
        },
        Top5VoCUserIsOnlyOne: function () {
            return this.get("Top5VoCUser").length <= 1;
        },
        OnSectionStretch: function (e) {
            var section = $(e.target).parent();
            while (section && (section.is(".section.flexible") == false)) {
                section = section.parent();
            }
            if (section) {
                if (section.is(".collapsed")) {
                    section.addClass("expanded").removeClass("collapsed");
                } else if (section.is(".expanded")) {
                    section.addClass("collapsed").removeClass("expanded");
                }
            }
        }
    });
    var viewModel = kendo.observable(new model());
    var formatOptions = {
        Threads: function (model) {
            var datasource = new kendo.data.DataSource({ data: model.Threads });
            datasource.fetch().then(function () {
            });
        },
        Forum: function (model) {
            model.set("ForumName", scope.CONST.ALL_ENABLED_PLARFORMS[model.Forum] || model.Forum);
            model.set("ForumIconUrl", "url('public/images/" + model.Forum + ".png')");
        },
        _UpdateDateRageHtml: function (model) {
            var html = "N/A";
            if (model.StartTime) {
                if (model.EndTime) {
                    html = "Date Range: "
                        + kendo.toString(model.StartTime, "M/d/yyyy h:mm:ss tt")
                        + " to "
                        + kendo.toString(model.EndTime, "M/d/yyyy h:mm:ss tt");
                }
                else {
                    html = "Date: "
                        + kendo.toString(model.StartTime, "M/d/yyyy h:mm:ss tt");
                }
            }
            model.set("DateRangeHtml", html);
        },
        StartTime: function (model) {
            this._UpdateDateRageHtml(model);
        },
        EndTime: function (model) {
            this._UpdateDateRageHtml(model);
        },
        Search: function (model) {
            if ((model.Search === null) || (model.Search.length === 0)) {
                model.set("Search", "N/A");
            }
        }
    };
    viewModel.bind("change", function (e) {
        if (e.field in formatOptions) {
            formatOptions[e.field](this);
        }
    });
    kendo.bind($(".ui.basic.container"), viewModel);

    function refreshThread(response) {
        var data = JSON.parse(response);
        console.log(data);
        viewModel.set("ReportTitle", (data.Title === "Report" ? "Volumes and Spikes Report" : data.Title) || "Report");
        viewModel.set("Forum", data.Forum);
        viewModel.set("Search", data.Search || "");
        viewModel.set("StartTime", data.StartTime);
        viewModel.set("EndTime", data.EndTime);
        var threads = data.Threads;
        viewModel.set("Threads", threads);

        var statics_sentiment = {};
        var statics_service = {};
        var statics_users = {};
        var statics_userRegions = {};
        $.each(threads, function (i, thread) {
            if (thread.Sentiment in statics_sentiment) {
                statics_sentiment[thread.Sentiment] += 1;
            } else {
                statics_sentiment[thread.Sentiment] = 1;
            }

            var service = thread.Service || "N/A";
            if (service.toLowerCase() === 'others') { service = "N/A"; }
            if (service in statics_service) {
                statics_service[service] += 1;
            } else {
                statics_service[service] = 1;
            }

            if (thread.User.Id in statics_users) {
                statics_users[thread.User.Id].PostCount += 1;
                statics_users[thread.User.Id].ViewCount += thread.ViewCount;
                statics_users[thread.User.Id].PositivePostCount += thread.Sentiment === 4 ? 1 : 0;
                statics_users[thread.User.Id].NegativePostCount += thread.Sentiment === 0 ? 1 : 0;
            } else {
                statics_users[thread.User.Id] = {
                    Id: thread.User.Id,
                    Name: thread.User.Name || "&nbsp;",
                    ProfilePicUrl: thread.User.ProfilePicUrl || ('public/images/' + viewModel.Forum.toLowerCase() + '.png'),
                    PostCount: 1,
                    ViewCount: thread.ViewCount,
                    PositivePostCount: thread.Sentiment === 4 ? 1 : 0,
                    NegativePostCount: thread.Sentiment === 0 ? 1 : 0
                };
            }

            var region = thread.User.Region || "N/A";
            if (region === "United States") { region = "United States of America"; }
            if (region in statics_userRegions) {
                statics_userRegions[region] += 1;
            } else {
                statics_userRegions[region] = 1;
            }
        });

        var sentiments = [];
        $.each(statics_sentiment, function (sentiment, count) {
            sentiments.push({
                name: sentimentAliases[sentiment] || "N/A",
                value: count,
                ratio: count / threads.length
            });
        });
        var chart_sentiments = echarts.init($("#chartSentiments")[0]);
        chart_sentiments.setOption({
            title: {
                textStyle: {
                    fontSize: 13
                }
            },
            grid: {
                bottom: 0
            },
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: sentiments
            },
            series: {
                type: 'pie',
                size: ['80%', '80%'],
                radius: ['30%', '70%'],
                label: {
                    normal: {
                        label: {
                            show: true
                        },
                        labelLine: {
                            show: true
                        },
                        formatter: '{b}\n ({d}%)'
                    }
                },
                data: sentiments
            }
        })
        chart_sentiments.on("legendselectchanged", function (e) {
            var selectedSentiments = [];
            $.each(e.selected, function (key, selected) {
                if (selected === true) {
                    $.each(sentimentAliases, function (value, alias) {
                        if (key === alias) {
                            selectedSentiments.push(value);
                        }
                    });
                }
            });
            viewModel.set("SelectedSentiments", selectedSentiments);
        });

        var services = [];
        $.each(statics_service, function (service, count) {
            services.push({
                name: service,
                value: count,
                ratio: count / threads.length
            });
        });
        services.sort(function (a, b) { return b.value - a.value; });
        viewModel.set("MentionedServices", new kendo.data.DataSource({
            data: services,
            pageSize: 7
        }));
        var chart_services = echarts.init($("#chartMentionedServices")[0]);
        chart_services.setOption({
            tooltip: {
                trigger: 'item',
                formatter: "{b}: {c}"
            },
            series: {
                type: 'wordCloud',
                gridSize: 0,
                sizeRange: [12, 24],
                textStyle: {
                    normal: {
                        color: function () {
                            return 'rgb(' + [
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160)
                            ].join(',') + ')';
                        }
                    },
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: '#333'
                    }
                },
                data: services.filter(function (e) { return e.name !== 'N/A'; })
            }
        });

        var users = [];
        $.each(statics_users, function (id, user) {
            users.push(user);
        });
        users.sort(function (a, b) { return b.PostCount - a.PostCount; });
        users = users.slice(0, 5);
        viewModel.set("Top5VoCUser", users);

        var userRegions = [];
        var regionMaxCount = 0;
        $.each(statics_userRegions, function (region, count) {
            userRegions.push({
                name: region,
                value: count,
                ratio: count / threads.length
            });
            if (region !== 'N/A') {
                regionMaxCount = count > regionMaxCount ? count : regionMaxCount;
            }
        });
        userRegions.sort(function (a, b) { return b.value - a.value; });
        if (regionMaxCount > 100) {
            regionMaxCount = Math.ceil(regionMaxCount / 100) * 100;
        } else if (regionMaxCount > 10) {
            regionMaxCount = Math.ceil(regionMaxCount / 10) * 10;
        } else {
            regionMaxCount = 10;
        }
        viewModel.set("UserDistributions", userRegions);
        var chart_userRegions = echarts.init($("#chartUserRegions")[0], "macarons");
        chart_userRegions.setOption({
            tooltip: {
                trigger: 'item',
                formatter: function (e) {
                    if (isNaN(e.value) === false) {
                        return e.name + ": " + e.value;
                    }
                }
            },
            dataRange: {
                min: 0,
                max: regionMaxCount,
                text: [regionMaxCount, 0],
                realtime: false,
                color: ['orangered', 'yellow', 'lightskyblue']
            },
            series: [{
                type: 'map',
                mapType: 'world',
                roam: true,
                selectedMode: "multiple",
                itemStyle: {
                    emphasis: { label: { show: true } }
                },
                data: userRegions.filter(function (e) { return e.name !== 'N/A'; })
            }]
        });
        chart_userRegions.on("mapselectchanged", function (e) {
            console.log(e);
            var selectedRegions = [];
            $.each(e.selected, function (key, selected) {
                if (selected === true) {
                    selectedRegions.push(key);
                }
            });
            viewModel.set("SelectedRegions", selectedRegions);
        });

        $(".report .section.flexible.collapsed").addClass("expanded").removeClass("collapsed");
        kendo.ui.progress($("body"), false);
    }

    kendo.ui.progress($("body"), true);
    var reportIdentity = /[\\?&]([^&#]*)/g.exec(window.location.href);
    if ((reportIdentity) && (reportIdentity.length > 1)) {
        $.get(scope.CONST.SERVICE_INFO.ENDPOINT + "getReportThreads", {
            id: reportIdentity[1],
        }).done(refreshThread).fail(function () {
            viewModel.set("Threads", []);
            kendo.ui.progress($("body"), false);
        });
    }
    else if (debug) {
        $.get("data/reportthreads.data").done(refreshThread).fail(function () {
            viewModel.set("Threads", []);
            kendo.ui.progress($("body"), false);
        });
    }
    else {
        kendo.ui.progress($("body"), false);
    }

</script>