<style>
    .placehodler {
        height: 200px;
    }
</style>
<div class="ui segment basic container report">
    <div class="ui breadcrumb">
        <a class="section">{{CONST.APP_NAME}}</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Report</div>
    </div>
    <div class="title" data-bind="html: ReportTitle"></div>
    <div class="sub-title">
        <div>
            <span class="data-source">
                <span class="caption forum">Data Source:</span>
            <span class="icon" data-bind="html: ForumName, style: { backgroundImage: ForumIconUrl }"></span>
            </span>
            <span class="date-range" data-bind="html: DateRangeHtml"></span>
        </div>
        <div class="data-source">
            <span class="caption">Search Phrase:</span>
            <span data-bind="html: Search"></span>
        </div>
    </div>
    <div class="section summary">
        <div class="brand"></div>
        <table>
            <tr>
                <td>
                    <div class="card" style="color: #6435C9;">
                        <div class="caption">Message Posts</div>
                        <span data-bind="html: ThreadCountText"></span>
                    </div>
                </td>
                <td>
                    <div class="card" style="color: #FBBD08;">
                        <div class="caption">
                            Influence of Users
                            <br />(Page View)
                        </div>
                        <span data-bind="html: TotalViewCountText"></span>
                    </div>
                </td>
                <td>
                    <div class="card" style="color: #F2711C;">
                        <div class="caption">Unique Users of Posts</div>
                        <span data-bind="html: UserCountText"></span>
                    </div>
                </td>
                <td>
                    <div class="card" style="color: #B5CC18;">
                        <div class="caption">Regions of Users</div>
                        <span data-bind="html: RegionCountText"></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="section flexible sentiment expanded">
        <div class="brand" data-bind="events: { click: OnSectionStretch }">
            <span class="arrow"></span>
        </div>
        <div class="content">
            <div id="chartSentiments"></div>
            <div data-role="grid" data-scrollable="false" data-sortable="true" data-pageable="true" data-columns="[{
                    field: 'Title',
                    attributes: {
                        style: 'max-width: 450px; white-space: nowrap; overflow: hidden;'
                    },
                    template: '<a target=\'_blank\' href=\'#=Link#\' title=\'#=User.Name#\' style=\'white-space: nowrap; overflow: hidden;\'>#=Title#</a>'
                 }, {
                    title: 'Post By',
                    field: 'User.Name',
                    attributes: {
                        style: 'max-width: 100px; white-space: nowrap; overflow: hidden;'
                    },
                    template: '<span title=\'#=User.Name#\'>#=User.Name#</span>'
                 }, {
                    field: 'Sentiment',
                    values: sentimentValues
                 }]" data-bind="source: ThreadsInSelectedSentiments"></div>
        </div>
    </div>
    <div class="section flexible services collapsed">
        <div class="brand" data-bind="events: { click: OnSectionStretch }">
            <span class="arrow"></span>
        </div>
        <div class="content">
            <div id="chartMentionedServices"></div>
            <div data-role="grid" data-scrollable="false" data-sortable="true" data-pageable="{ pageSize: 6 }" data-columns="[{
                    title: 'Service Name',
                    field: 'name'
                 }, {
                    title: 'Post Vol',
                    field: 'value',
                    width: '100px'
                 }, {
                    title: 'Post Ratio',
                    field: 'ratio',
                    format: '{0:p2}',
                    width: '100px'
                 }, {
                    title: ' ',
                    template: '<i class=\'icon download\'></i>',
                    width: '40px'
                 }]" data-bind="source: MentionedServices"></div>
        </div>
    </div>
    <div class="section flexible users collapsed">
        <div class="brand" data-bind="events: { click: OnSectionStretch }">
            <span class="arrow"></span>
        </div>
        <div class="content placehodler"></div>
    </div>
    <div class="section flexible world collapsed">
        <div class="brand" data-bind="events: { click: OnSectionStretch }">
            <span class="arrow"></span>
        </div>
        <div class="content placehodler"></div>
    </div>
</div>
<script type="text/javascript">
    var sentimentAliases = { 0: "NEG", 2: "NEU", 4: "POS" };
    var sentimentValues = [
        { value: 0, text: 'Negative' },
        { value: 2, text: 'Neutral' },
        { value: 4, text: 'Positive' }
    ];
    var scope = angular.element("html").scope();
    var model = kendo.data.Model.define({
        fields: {
            ReportTitle: { type: "string" },
            Forum: { type: "string" },
            StartTime: { type: "date" },
            EndTime: { type: "date" },
            Search: { type: "string", defaultValue: "N/A" },
            Threads: { type: "object", defaultValue: [] },

            SelectedSentiments: { type: "object", defaultValue: [0, 2, 4] },

            ThreadCount: { type: "number", defaultValue: 0 },
            ThreadCountText: { type: "string", defaultValue: "N/A" },
            TotalViewCount: { type: "number", defaultValue: 0 },
            TotalViewCountText: { type: "string", defaultValue: "N/A" },
            UserCount: { type: "number", defaultValue: 0 },
            UserCountText: { type: "string", defaultValue: "N/A" },
            RegionCount: { type: "number", defaultValue: 0 },
            RegionCountText: { type: "string", defaultValue: "N/A" },
            MentionedServices: { type: "object", defaultValue: [] },
            Sentiments: { type: "object", defaultValue: [] },
        },
        ThreadsInSelectedSentiments: function() {
            var filters = [];
            $.each(this.get("SelectedSentiments"), function (i, sentiment) {
                filters.push({ field: "Sentiment", operator: "eq", value: parseInt(sentiment) });
            });
            if (filters.length === 0) {
                return [];
            } else {
                return new kendo.data.DataSource({
                    data: this.get("Threads"),
                    filter: {
                        logic: "or",
                        filters: filters
                    },
                    pageSize: 7
                });
            }
        },
        OnSectionStretch: function (e) {
            var section = $(e.target).parent();
            while (section && (section.is(".section.flexible") == false)) {
                section = section.parent();
            }
            if (section) {
                if (section.is(".collapsed")) {
                    section.addClass("expanded");
                    section.removeClass("collapsed");
                } else if (section.is(".expanded")) {
                    section.addClass("collapsed");
                    section.removeClass("expanded");
                }
            }
        }
    });
    var viewModel = kendo.observable(new model());
    var formatOptions = {
        Threads: function (model) {
            var datasource = new kendo.data.DataSource({ data: model.Threads });
            datasource.fetch().then(function () {
                model.set("ThreadCount", datasource.total());

                datasource.group({ field: "Sentiment" });
                var sentiments = [];
                $.each(datasource.view().toJSON(), function (i, sentiment) {
                    sentiments.push({
                        name: sentimentAliases[sentiment.value] || "N/A",
                        value: sentiment.items.length,
                        ratio: sentiment.items.length / datasource.total()
                    });
                });
                model.set("Sentiments", sentiments);

                datasource.group({ field: "Service" });
                var services = [];
                $.each(datasource.view().toJSON(), function (i, service) {
                    services.push({
                        name: service.value,
                        value: service.items.length,
                        ratio: service.items.length / datasource.total()
                    });
                });
                model.set("MentionedServices", services);
            });
        },
        Forum: function (model) {
            model.set("ForumName", scope.CONST.ALL_ENABLED_PLARFORMS[model.Forum] || model.Forum);
            model.set("ForumIconUrl", "url('public/images/" + model.Forum + ".png')");
        },
        _UpdateDateRageHtml: function (model) {
            var html = "N/A";
            if (model.StartTime) {
                if (model.EndTime) {
                    html = "Date Range: "
                        + kendo.toString(model.StartTime, "M/d/yyyy h:mm:ss tt")
                        + " to "
                        + kendo.toString(model.EndTime, "M/d/yyyy h:mm:ss tt");
                }
                else {
                    html = "Date: "
                        + kendo.toString(model.StartTime, "M/d/yyyy h:mm:ss tt");
                }
            }
            model.set("DateRangeHtml", html);
        },
        StartTime: function (model) {
            this._UpdateDateRageHtml(model);
        },
        EndTime: function (model) {
            this._UpdateDateRageHtml(model);
        },
        Search: function (model) {
            if ((model.Search === null) || (model.Search.length === 0)) {
                model.set("Search", "N/A");
            }
        },
        _FormatNumber: function (number) {
            if ($.isNumeric(number) === false) { return "N/A"; }
            if (number < 1000) { return number; }
            var suffixes = ['k', 'M', 'G', 'T', 'P', 'E'];
            var exp = Math.floor(Math.log(number) / Math.log(1000));
            return /(^.+\.((0*[1-9]+)|0))0*$/g.exec((number / Math.pow(1000, exp)).toFixed(3))[1] + suffixes[exp - 1];
        },
        ThreadCount: function (model) {
            model.set("ThreadCountText", this._FormatNumber(model.ThreadCount));
        },
        TotalViewCount: function (model) {
            model.set("TotalViewCountText", this._FormatNumber(model.TotalViewCount));
        },
        UserCount: function (model) {
            model.set("UserCountText", this._FormatNumber(model.UserCount));
        },
        RegionCount: function (model) {
            model.set("RegionCountText", this._FormatNumber(model.RegionCount));
        },
        MentionedServices: function (model) {
            var chart = echarts.init($("#chartMentionedServices")[0]);
            chart.setOption({
                title: {
                    textStyle: {
                        fontSize: 13
                    },
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{b} : {c}"
                },
                series: {
                    type: 'wordCloud',
                    gridSize: 0,
                    sizeRange: [12, 24],
                    textStyle: {
                        normal: {
                            color: function () {
                                return 'rgb(' + [
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160)
                                ].join(',') + ')';
                            }
                        },
                        emphasis: {
                            shadowBlur: 10,
                            shadowColor: '#333'
                        }
                    },
                    data: model.MentionedServices
                }
            });
        },
        Sentiments: function (model) {
            var chart = echarts.init($("#chartSentiments")[0]);
            chart.setOption({
                title: {
                    textStyle: {
                        fontSize: 13
                    }
                },
                grid: {
                    bottom: 0
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data: model.Sentiments
                },
                series: {
                    type: 'pie',
                    size: ['80%', '80%'],
                    radius: ['30%', '70%'],
                    label: {
                        normal: {
                            label: {
                                show: true
                            },
                            labelLine: {
                                show: true
                            },
                            formatter: '{b}\n ({d}%)'
                        }
                    },
                    data: model.Sentiments
                }
            })
            chart.on("legendselectchanged", function (e) {
                var selectedSentiments = [];
                $.each(e.selected, function (key, selected) {
                    if (selected === true) {
                        $.each(sentimentAliases, function (value, alias) {
                            if (key === alias) {
                                selectedSentiments.push(value);
                            }
                        });
                    }
                });
                viewModel.set("SelectedSentiments", selectedSentiments);
            });
        }
    };
    viewModel.bind("change", function (e) {
        if (e.field in formatOptions) {
            formatOptions[e.field](this);
        }
    });
    kendo.bind($(".ui.basic.container"), viewModel);

    viewModel.set("ReportTitle", "Volumes and Spikes Report (Demo)");
    viewModel.set("Forum", "so");
    viewModel.set("StartTime", "2017-01-20 21:16:55");
    viewModel.set("EndTime", "2017-02-11 08:50:23");
    viewModel.set("TotalViewCount", 12300);
    viewModel.set("UserCount", 581230);
    viewModel.set("RegionCount", 989);
    $.get("data/reportthreads.json").done(function (threads) {
        viewModel.set("Threads", threads);
    });
</script>