<div class="ui segment basic container">
    <div class="ui breadcrumb">
        <a class="section">{{path[1]}}</a>
        <i class="right angle icon divider"></i>
        <div class="active section">{{path[2]}}</div>
    </div>
    <div class="ui label blue pull-right" ng-show="global.topic">
        <i class="server icon"></i> Current Service/Product: {{global.topic}}
    </div>
    <div id="topic_select" class="ui segment clearing">
        <!--deserted server status-->
        <!--<a id="server_status" class="ui right label static" ng-class="serviceStatus">Status</a>-->
        <!--<div class="ui flowing popup top left transition hidden compact segments" style="min-width:260px">
            <div class="ui compact segment">
                <h4 class="ui red inverted header">Red</h4>
                <p>Influence Volume Spike (true) <br />&<br />Positve
                    < Negative Ratio (true)</p>
            </div>
            <div class="ui compact segment">
                <h4 class="ui orange inverted header">Yellow</h4>
                <p>Influence Volume Spike (true)<br />Or<br />Positve
                    < Negative Ratio (true)</p>
            </div>
            <div class="ui compact segment">
                <h4 class="ui green inverted header">Green</h4>
                <p>Influence Volume Spike (false)<br />&<br />Positve
                    < Negative Ratio (false)</p>
            </div>
        </div>-->
        <div class="ui form pull-left">
            <div class="inline field">
                <label>Selected Service/Product: </label>
                <div class="ui selection dropdown" id="topicSelection">
                    <input name="category" type="hidden" value="">
                    <i class="dropdown icon"></i>
                    <div class="default text">category</div>
                    <div class="menu">
                        <div ng-repeat="t in topics" class="item" data-value="{{t}}">{{t}}</div>
                    </div>
                </div>
            </div>
            <div class="inline field">
                <label>Date Range ({{TZ}}): </label>
                <!--<div class="ui horizontal label">{{TZ}}</div>-->
                <div class="ui dropdown" id="dataRangeSelection">
                    <!--<div style="height:38px;line-height:38px;margin-right:20px;">-->
                    <!--</div>-->
                    <input name="daterange" ng-model="daterange" type="hidden" value="">
                    <i class="dropdown icon"></i>
                    <div class="default text">DateRange</div>
                    <div class="menu">
                        <div class="item" data-value="7">7 Days</div>
                        <div class="item" data-value="30">30 Days</div>
                        <div class="item" data-value="90">90 Days</div>
                        <div class="item" data-value="180">180 Days</div>
                    </div>
                </div>
                [{{dateList[0]}} - {{dateList.slice(-1)[0]}}]
            </div>
        </div>
        <button class="ui basic button mini" style="position: absolute;bottom: 3px;right: 0px;">
            <i class="icon download"></i>
            Download CSV
        </button>
        <!--<button class="circular ui icon inverted blue button" ng-click="startGetData($event)" style="margin-left:20px">
            <i class="icon search"></i>
        </button>-->
    </div>
    <div class="ui indicating progress" id="progress" ng-show="flags.m">
        <div class="bar"></div>
    </div>
    <div class="ui accordion" ng-show="flags.m">
        <!--statistic-->
        <div id="summary" class="ui blue segment">
            <h3 class="ui center aligned header title blue active">Summary
                <i class="dropdown icon pull-left"></i>
            </h3>
            <!--charts-->
            <!--<div class="ui segment">-->
            <div class="content active">
                <div ng-if="statistic" class="ui three column divided grid center aligned">
                    <div class="column collection">
                        <div class="ui horizontal top divider">Users</div>
                        <div>
                            <ng-statistic title="Unique Users Posts" color="orange" data="statistic.joinedusers" type="joinedusers"></ng-statistic>
                        </div>
                        <!--<div ng-if="platform=='twitter'">-->
                        <div>
                            <div class="ui inverted divider"></div>
                            <ng-statistic title="Regions of Users" color="olive" data="statistic.regionofusers" type="regionofusers"></ng-statistic>
                        </div>
                        <div>
                            <div class="ui inverted divider"></div>
                            <ng-statistic title="Influence of Users(page Views)" color="yellow" data="statistic.influenceofusers" type="influenceofusers"></ng-statistic>
                        </div>
                    </div>
                    <div class="column collection">
                        <div class="ui horizontal top divider">Services & Products</div>
                        <div>
                            <ng-statistic title="Services & Products being Discussed" color="green" data="statistic.mentionedservicecount" type="mentionedservicecount"></ng-statistic>
                        </div>
                        <!--<div ng-if="platform=='twitter'" style="max-height:129px;">-->
                        <div style="max-height:129px;">
                            <div class="ui inverted divider"></div>
                            <!--<ng-statistic title="Most Mentioned Service" data="statistic.mostmentionedservice" type="mostmentionedservice"></ng-statistic>-->
                            <div class="ui column grid">
                                <div class="column">
                                    <h6 style="margin:0;font-size:13px">Most Mentioned Service</h6>
                                    <div class="ui relaxed divided list">
                                        <div ng-repeat="s in statistic.mostmentionedservice" class="item text tiny blue" alt="{{s.mentionedmostservice.attachedobject}}"
                                            title="{{s.mentionedmostservice.attachedobject}}">
                                            <span ng-if="s">
                                            {{s.mentionedmostservice.attachedobject | limitTo: 15 }}<span ng-if="s.mentionedmostservice.attachedobject.length > 15">&hellip;</span>({{s.occupyratio}}%)
                                            </span>
                                            <span ng-if="!s">
                                            No Data Available
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="column">
                                <h6 style="margin:0;font-size:13px" title="since last seven days">Growth Ranking
                                </h6>
                                <div class="ui relaxed divided list">
                                    <div ng-repeat="s in statistic.rankingservice" class="item text tiny blue" alt="{{s.mentionedmostservice.attachedobject}}"
                                        title="{{s.mentionedmostservice.attachedobject}}">
                                        <span ng-if="s">
                                            <i ng-if="s.mentionedmostservice.vocinfluence.vocvolgrowthratio===0" class="icon minus blue pull-left"></i>
                                            <i ng-if="s.mentionedmostservice.vocinfluence.vocvolgrowthratio>0" class="icon long arrow up green pull-left"></i>
                                            <i ng-if="s.mentionedmostservice.vocinfluence.vocvolgrowthratio<0" class="icon long arrow down red pull-left"></i> {{s.mentionedmostservice.attachedobject| limitTo: 10 }}<span ng-if="s.mentionedmostservice.attachedobject.length > 10">&hellip;</span>({{s.mentionedmostservice.vocinfluence.vocvolgrowthratio|number:1}}%)
                                        </span>
                                        <span ng-if="!s">
                                            No Data Available
                                        </span>
                                    </div>
                                </div>
                            </div>-->
                            </div>
                        </div>
                        <div>
                            <div class="ui inverted divider"></div>
                            <!--<ng-statistic title="Most Liked Service : Most Disliked Service" comment="Receievd hightest Ratio of positive posts" data="{mostlikedservice:statistic.mostlikedservice,mostdislikedservice:statistic.mostdislikedservice}" type="mostlikedservice"></ng-statistic>-->
                            <div class="ui two column grid">
                                <div class="column">
                                    <h6 style="margin:0;font-size:13px">Most Liked Service</h6>
                                    <div class="ui relaxed divided list">
                                        <div ng-repeat="s in statistic.mostlikedservice track by $index" class="item text tiny blue" alt="{{s.mentionedmostservice.attachedobject}}"
                                            title="{{s.mentionedmostservice.attachedobject}}">
                                            <!--  ng-class="{0:'red',1:'green',2:'blue'}[$index]" -->
                                            <span ng-if="s">
                                            {{s.mentionedmostservice.attachedobject| limitTo: 15 }}<span ng-if="s.mentionedmostservice.attachedobject.length > 15">&hellip;</span>({{s.occupyratio}}%)
                                            </span>
                                            <span ng-if="!s">
                                            No Data Available
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <h6 style="margin:0;font-size:13px">Most Disliked Service</h6>
                                    <div class="ui relaxed divided list">
                                        <div ng-repeat="s in statistic.mostdislikedservice track by $index" class="item text tiny blue" alt="{{s.mentionedmostservice.attachedobject}}"
                                            title="{{s.mentionedmostservice.attachedobject}}">
                                            <!--  ng-class="{0:'red',1:'green',2:'blue'}[$index]" -->
                                            <span ng-if="s">
                                            {{s.mentionedmostservice.attachedobject| limitTo: 15 }}<span ng-if="s.mentionedmostservice.attachedobject.length > 15">&hellip;</span>({{s.occupyratio}}%)
                                            </span>
                                            <span ng-if="!s">
                                            No Data Available
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column collection">
                        <div class="ui horizontal top divider">VoC</div>
                        <div>
                            <ng-statistic title="Message Posts" color="violet" data="statistic.vocinsights" type="vocinsightsVol"></ng-statistic>
                        </div>
                        <div>
                            <div class="ui inverted divider"></div>
                            <ng-statistic title="Sentiment of Messages (POS:NEG:NEU)" color="teal" data="statistic.vocinsights" type="vocinsightsPN"></ng-statistic>
                        </div>
                        <!--<div ng-if="platform=='twitter'">-->
                        <div>
                            <div class="ui inverted divider"></div>
                            <!--<ng-statistic title="Influence of Sentiment" color="purple" comment="Page Views - POS : NEG" data="{mostposifrom:statistic.mostposifrom,mostnegfrom:statistic.mostnegfrom}" type="mostposifrom"></ng-statistic>-->
                            <!--<ng-statistic title="Influence of Sentiment (POS:NEG)" color="purple" comment="Page Views - POS : NEG" data="{mostposifrom:statistic.mostposifrom,mostnegfrom:statistic.mostnegfrom}" type="mostposifrom"></ng-statistic>-->
                            <!--<ng-statistic ng-hide="isLargeDateRange" title="Sentiment of Influence (POS:NEG)" color="purple" data="statistic.vocinsights"
                                type="mostposifrom"></ng-statistic>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="ui hidden divider"></div>-->
        <!--<div class="ui hidden divider"></div>-->
        <!--<div class="ui divider"></div>-->
        <!--<div class="ui hidden divider"></div>-->
        <div id="volumes" class="ui teal segment">
            <h3 class="ui center aligned header title teal">Volumes
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="ui one column grid content">
                <!--Users' Vol Trend-->
                <div class="column">
                    <ng-echart title="Users' Vol {{commonTrendTitle}}" type="hourly" platform='{{path[2]}}' query=query api-fn="getUserVolSpikes"
                        location='home' pnscope="all" sub-fn="getSubPageVoCDetails" group="hourly" days="{{dateRange}}"></ng-echart>
                </div>
                <div class="column">
                    <ng-echart title="Message Posts' Vol {{commonTrendTitle}}" type="hourly" platform='{{path[2]}}' query=query api-fn="getMessageVolSpikes"
                        location='home' pnscope="all" sub-fn="getSubPageVoCDetails" group="hourly" days="{{dateRange}}"></ng-echart>
                </div>
                <!--Message Posts' Vol By Sentiment Daily Trend-->
                <!--large date range only-->
                <div class="column large-date-range" ng-show="isLargeDateRange">
                    <ng-echart title="Message Posts' Vol By Sentiment Daily Trend In Last {{dateRange}} Days" type="hourly" platform='{{path[2]}}'
                        query=query api-fn="getStackMessageVol" location='home' pnscope="all" sub-fn="getSubPageVoCDetails" group="hourly"
                        stack="volume" days="{{dateRange}}"></ng-echart>
                </div>
                <div class="column">
                    <ng-echart title="Positive Posts' Vol {{commonTrendTitle}}" type="hourly" platform='{{path[2]}}' query=query api-fn="getMessageVolSpikes"
                        location='home' pnscope="posi" sub-fn="getSubPageVoCDetails" group="hourly" days="{{dateRange}}"></ng-echart>
                </div>
                <div class="column">
                    <ng-echart title="Negative Posts' Vol {{commonTrendTitle}}" type="hourly" platform='{{path[2]}}' query=query api-fn="getMessageVolSpikes"
                        location='home' pnscope="neg" sub-fn="getSubPageVoCDetails" group="hourly" days="{{dateRange}}"></ng-echart>
                </div>
                <div class="column">
                    <ng-echart title="Message Influence Vol {{commonTrendTitle}}" type="hourly" platform='{{path[2]}}' query=query api-fn="getInfluenceVolSpikes"
                        location='home' pnscope="all" sub-fn="getSubPageVoCDetails" group="hourly" days="{{dateRange}}"></ng-echart>
                </div>
                <div ng-if="platform=='twitter'" class="column">
                    <ng-echart title="Poster's Regions # {{commonTrendTitle}}" type="hourly" platform='{{path[2]}}' query=query api-fn="getUserRegionVolSpikes"
                        location='home' pnscope="all" sub-fn="getSubPageVoCDetails" group="hourly" days="{{dateRange}}"></ng-echart>
                </div>
                <!--large date range only-->
                <div class="column large-date-range" ng-show="isLargeDateRange" ng-if="platform=='twitter'">
                    <ng-echart title="Region of Users Volume In Last {{dateRange}} Days" platform='{{path[2]}}' query=query api-fn="getRegionDistribution"
                        type="bar" location='home' pnscope="all" sub-fn="getVoCDetailsByDate" days="{{dateRange}}"></ng-echart>
                </div>
            </div>
        </div>
        <div id="sentiment" class="ui purple segment">
            <h3 class="ui center aligned header title purple">
                Sentiment
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="ui three column grid content">
                <div class="row">
                    <ng-echart title="Volume Sentiment Distribution in {{path[2]}}" type="pie" platform='{{path[2]}}' query=query api-fn="getDistribution"
                        location='home' sub-fn="getVoCDetailsByPN" no-swap="true" days="{{dateRange}}"></ng-echart>
                    <ng-echart title="Most POSITIVE Feedback Mentioned" type="wordcloud" platform='{{path[2]}}' query=query api-fn="getKeywordsMentionedMostMapping"
                        pnscope="posi" location="home" sub-fn="getSubPageVoCDetailsbyKeywords" days="{{dateRange}}"></ng-echart>
                    <ng-echart title="Most NEGATIVE Feedback Mentioned" type="wordcloud" platform='{{path[2]}}' query=query api-fn="getKeywordsMentionedMostMapping"
                        pnscope="neg" location="home" sub-fn="getSubPageVoCDetailsbyKeywords" days="{{dateRange}}"></ng-echart>
                </div>
                <!--<div class="row">
                    <ng-echart title="Negative Platform Influence" style="height:300px" platform="twitter,so,sf,su,msdn,tn" query=query type="hori" api-fn="getSpikes" pnscope="neg" location='home' no-pop="true" redirect='true'></ng-echart>
                    <ng-echart title="Negative Platform Influence" style="height:300px" platform="twitter,so,sf,su,msdn,tn" query=query type="hori" api-fn="getSpikes" pnscope="neg" location='home' no-pop="true" redirect='true'></ng-echart>
                </div>-->
                <div class="row">
                    <div class="sixteen wide column">
                        <ng-echart title="Sentiment Conversion {{commonTrendTitle}}" type="bar" platform='{{path[2]}}' query=query api-fn="sentimentconversion"
                            location='home' pnscope="all" sub-fn="getSubPageVoCDetails" days="{{dateRange}}"></ng-echart>
                    </div>
                </div>
            </div>
        </div>
        <div id="analytics" class="ui green segment">
            <h3 class="ui center aligned header title green">
                Services Analytics
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="ui grid content">
                <div class="two column row">
                    <div class="ui shape column">
                        <div class="sides">
                            <div class="side active">
                                <ng-echart title="Mentioned (Messages Vol) Azure Services" type="pie" platform='{{path[2]}}' query=query api-fn="getMentionedMostServiceDistribution"
                                    property-select="messages" location="home" sub-fn="getVoCDetailsByServiceName" association="message" days="{{dateRange}}"></ng-echart>
                            </div>
                            <div class="side">
                                <mentioned-table platform='{{path[2]}}' query=query association="message" days="{{dateRange}}"></mentioned-table>
                            </div>
                        </div>
                    </div>
                    <div class="ui shape column">
                        <div class="sides">
                            <div class="side active">
                                <ng-echart title="Mentioned (Users Vol) Azure Services" type="pie" platform='{{path[2]}}' query=query api-fn="getMentionedMostServiceListByUserVol"
                                    property-select="users" location="home" sub-fn="getVoCDetailsByServiceName" association="user" days="{{dateRange}}"></ng-echart>
                            </div>
                            <div class="side">
                                <mentioned-table platform='{{path[2]}}' query=query association="user" days="{{dateRange}}"></mentioned-table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--large date range only-->
                <div class="row" ng-show="isLargeDateRange">
                    <div class="column large-date-range">
                        <ng-echart title="Most Like & Dislike Service In Last {{dateRange}} Days" type="hori" platform='{{path[2]}}' query=query
                            api-fn="getMentionedMostServiceDistribution" location='home' pnscope="all" sub-fn="getSubPageVoCDetails" days="{{dateRange}}"></ng-echart>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <table id="spikes-table" st-table="stTable" st-safe-src="mostMentionedService" class="ui blue striped celled table stTable">
                            <thead>
                                <tr>
                                    <th st-sort="attachedobject">Service Name</th>
                                    <th st-sort="vocinfluence.voctotalvol" st-sort-default="reverse" st-skip-natural="true">Post Volume</th>
                                    <th st-sort="(vocinfluence.positivetotalvol/vocinfluence.voctotalvol)" st-skip-natural="true">Positive Ratio</th>
                                    <th st-sort="(vocinfluence.negativetotalvol/vocinfluence.voctotalvol)" st-skip-natural="true">Negative Ratio</th>
                                    <th st-sort="(vocinfluence.neutraltotalvol/vocinfluence.voctotalvol)" st-skip-natural="true">Neutral Ratio</th>
                                    <th st-sort="vocinfluence.vocinfluencedvol">Total Page Views</th>
                                    <th st-sort="vocinfluence.detectedspikesvol">Detected Spikes</th>
                                    <th style="color: #000 !important;cursor: default !important;">Data Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7">
                                        <div class="ui icon input">
                                            <input type="search" st-search placeholder="Search ...">
                                            <i class="search icon"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-repeat="item in stTable">
                                    <td>{{item.attachedobject}}</td>
                                    <td width="100">{{item.vocinfluence.voctotalvol|thousandsuffix}}</td>
                                    <td width="100">{{(item.vocinfluence.positivetotalvol)/(item.vocinfluence.voctotalvol)|percentage}}</td>
                                    <td width="100">{{(item.vocinfluence.negativetotalvol)/(item.vocinfluence.voctotalvol)|percentage}}</td>
                                    <td width="100">{{(item.vocinfluence.neutraltotalvol)/(item.vocinfluence.voctotalvol)|percentage}}</td>
                                    <td width="100">{{item.vocinfluence.vocinfluencedvol|thousandsuffix}}</td>
                                    <td width="100">{{item.vocinfluence.detectedspikesvol}}</td>
                                    <td width="100">
                                        <a href="javascript:void(0);"><i class="file text outline icon"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <div st-items-by-page="10" st-pagination="" st-template="/public/template/pagination.custom.html"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="two column row" ng-if="platform=='twitter'">
                    <ng-echart title="Area Distribution for Positive Feedback" pnscope="posi" type="world" platform='{{path[2]}}' query=query api-fn="getRegionDistribution"
                        location='home' sub-fn="getVoCDetailsByPN" no-swap="true" days="{{dateRange}}" property-select="positive"></ng-echart>
                    <ng-echart title="Area Distribution for Nagetive Feedback" pnscope="neg" type="world" platform='{{path[2]}}' query=query api-fn="getRegionDistribution"
                        location='home' sub-fn="getVoCDetailsByPN" no-swap="true" days="{{dateRange}}" property-select="negative"></ng-echart>
                </div>
            </div>
        </div>
        <div id="userdistribution" class="ui violet segment" ng-if="platform=='twitter'">
            <h3 class="ui center aligned header title violet">
                User Distribution
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="ui grid content">
                <div class="two column row">
                    <ng-echart title="User Distribution" pnscope="all" type="world" platform='{{path[2]}}' query=query api-fn="getRegionDistribution" location='home'
                        sub-fn="getVoCDetailsByPN" no-swap="true" days="{{dateRange}}" property-select="users"></ng-echart>
                    <div class="column">
                        <table id="language-table" st-table="stTable2" st-safe-src="languageDistribution" class="ui blue striped celled table stTable">
                            <thead>
                                <tr>
                                    <th st-sort="attachedobject">Language</th>
                                    <th st-sort="volume" st-sort-default="reverse" st-skip-natural="true">Volume</th>
                                    <th st-sort="ratio" st-skip-natural="true">Ratio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7">
                                        <div class="ui icon input">
                                            <input type="search" st-search placeholder="Search ...">
                                            <i class="search icon"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-repeat="item in stTable2">
                                    <td>{{item.languagename}}</td>
                                    <td width="100">{{item.volume|thousandsuffix}}</td>
                                    <td width="100">{{item.ratio|percentage}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3">
                                        <div st-items-by-page="5" st-pagination="" st-template="/public/template/pagination.custom.html"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="influencers" class="ui orange segment">
            <h3 class="ui center aligned header title orange">
                Top Active users
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="content">
                <div class="ui three column grid">
                    <!--<div class="column">-->
                    <!--<div class="ui blue inverted segment center aligned voc">-->
                    <user-list title='Most VoC Post By' platform='{{path[2]}}' pnscope="all" query=query location='home' days="{{dateRange}}"></user-list>
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="column">-->
                    <!--<div class="ui green inverted segment center aligned voc">-->
                    <user-list title='Most POS VoC Post By' platform='{{path[2]}}' pnscope="posi" query=query location='home' days="{{dateRange}}"></user-list>
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="column">-->
                    <!--<div class="ui red inverted segment center aligned voc">-->
                    <user-list title='Most NEG VoC Post By' platform='{{path[2]}}' pnscope="neg" query=query location='home' days="{{dateRange}}"></user-list>
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div id="scrollspy" ng-scroll-spy class="">
            <div class="ui middle aligned selection list">
                <div class="item">
                    <a du-smooth-scroll="summary" du-scrollspy offset="30">
                        <div class="ui label" set-color="blue" data-content="Summary" data-variation="mini inverted">
                            <i class="icon dashboard"></i><span ng-hide="isSmall">Summary</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="volumes" du-scrollspy offset="60">
                        <div class="ui label" set-color="teal" data-content="Volumes" data-variation="mini inverted">
                            <i class="icon line chart"></i><span ng-hide="isSmall">Volumes</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="sentiment" du-scrollspy offset="600">
                        <div class="ui label" set-color="purple" data-content="Sentiment" data-variation="mini inverted">
                            <i class="icon heartbeat"></i> <span ng-hide="isSmall">Sentiment</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="analytics" du-scrollspy offset="300">
                        <div class="ui label" set-color="green" data-content="Services Analytics" data-variation="mini inverted">
                            <i class="icon comments"></i> <span ng-hide="isSmall">Services Analytics</span>
                        </div>
                    </a>
                </div>
                <div class="item" ng-if="platform=='twitter'">
                    <a du-smooth-scroll="userdistribution" du-scrollspy offset="300">
                        <div class="ui label" set-color="violet" data-content="User Distribution" data-variation="mini inverted">
                            <i class="icon map"></i> <span ng-hide="isSmall">User Distribution</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="influencers" du-scrollspy offset="600">
                        <div class="ui label" set-color="orange" data-content="Top Active users" data-variation="mini inverted">
                            <i class="icon users"></i> <span ng-hide="isSmall">Top Active users</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--<div ng-show="isLargeDateRange" class="ui accordion" id="largeDateRangeScetion">
        <div id="daterangesummary" class="ui blue segment">
            <h3 class="ui center aligned header blue title active">Summary in {{dateRange}} Days
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="content active">
                <div ng-if="statistic" class="ui three column divided grid center aligned">
                    <div class="column collection">
                        <div class="ui horizontal top divider">Users</div>
                        <div>
                            <ng-statistic title="Unique Users Posts" color="orange" data="statistic.joinedusers" type="joinedusers"></ng-statistic>
                        </div>
                        <div>
                            <div class="ui inverted divider"></div>
                            <ng-statistic title="Regions of Users" color="olive" data="statistic.regionofusers" type="regionofusers"></ng-statistic>
                        </div>
                        <div>
                            <div class="ui inverted divider"></div>
                            <ng-statistic title="Influence of Users(page Views)" color="yellow" data="statistic.influenceofusers" type="influenceofusers"></ng-statistic>
                        </div>
                    </div>
                    <div class="column collection">
                        <div class="ui horizontal top divider">Services & Products</div>
                        <div>
                            <ng-statistic title="Services & Products being Discussed" color="green" data="statistic.mentionedservicecount" type="mentionedservicecount"></ng-statistic>
                        </div>
                        <div style="max-height:129px;">
                            <div class="ui inverted divider"></div>
                            <div class="ui column grid">
                                <div class="column">
                                    <h6 style="margin:0;font-size:13px">Most Mentioned Service</h6>
                                    <div class="ui relaxed divided list">
                                        <div ng-repeat="s in statistic.mostmentionedservice" class="item text tiny blue" alt="{{s.mentionedmostservice.attachedobject}}"
                                            title="{{s.mentionedmostservice.attachedobject}}">
                                            <span ng-if="s">
                                            {{s.mentionedmostservice.attachedobject | limitTo: 15 }}<span ng-if="s.mentionedmostservice.attachedobject.length > 15">&hellip;</span>({{s.occupyratio}}%)
                                            </span>
                                            <span ng-if="!s">
                                            No Data Available
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="ui inverted divider"></div>
                            <div class="ui two column grid">
                                <div class="column">
                                    <h6 style="margin:0;font-size:13px">Most Liked Service</h6>
                                    <div class="ui relaxed divided list">
                                        <div ng-repeat="s in statistic.mostlikedservice track by $index" class="item text tiny blue" alt="{{s.mentionedmostservice.attachedobject}}"
                                            title="{{s.mentionedmostservice.attachedobject}}">
                                            <span ng-if="s">
                                            {{s.mentionedmostservice.attachedobject| limitTo: 15 }}<span ng-if="s.mentionedmostservice.attachedobject.length > 15">&hellip;</span>({{s.occupyratio}}%)
                                            </span>
                                            <span ng-if="!s">
                                            No Data Available
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <h6 style="margin:0;font-size:13px">Most Disliked Service</h6>
                                    <div class="ui relaxed divided list">
                                        <div ng-repeat="s in statistic.mostdislikedservice track by $index" class="item text tiny blue" alt="{{s.mentionedmostservice.attachedobject}}"
                                            title="{{s.mentionedmostservice.attachedobject}}">
                                            <span ng-if="s">
                                            {{s.mentionedmostservice.attachedobject| limitTo: 15 }}<span ng-if="s.mentionedmostservice.attachedobject.length > 15">&hellip;</span>({{s.occupyratio}}%)
                                            </span>
                                            <span ng-if="!s">
                                            No Data Available
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column collection">
                        <div class="ui horizontal top divider">VoC</div>
                        <div>
                            <ng-statistic title="Message Posts" color="violet" data="statistic.vocinsights" type="vocinsightsVol"></ng-statistic>
                        </div>
                        <div>
                            <div class="ui inverted divider"></div>
                            <ng-statistic title="Sentiment of Messages (POS:NEG:NEU)" color="teal" data="statistic.vocinsights" type="vocinsightsPN"></ng-statistic>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="daterangevolumes" class="ui teal segment">
            <h3 class="ui center aligned header title teal">Volumes
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="ui one column grid content">
                <div class="column">
                    <ng-echart title="Users' Vol Daily Trend In Last {{dateRange}} Days" type="hourly" platform='{{path[2]}}' query=query api-fn="getUserVolSpikes"
                        location='home' pnscope="all" sub-fn="getSubPageVoCDetails" group="hourly"></ng-echart>
                </div>
                <div class="column">
                    <ng-echart title="Message Posts' Vol Daily Trend In Last {{dateRange}} Days" type="hourly" platform='{{path[2]}}' query=query
                        api-fn="getMessageVolSpikes" location='home' pnscope="all" sub-fn="getSubPageVoCDetails" group="hourly"></ng-echart>
                </div>
                <div class="column">
                    <ng-echart title="Message Posts' Vol By Sentiment Daily Trend In Last {{dateRange}} Days" type="hourly" platform='{{path[2]}}'
                        query=query api-fn="getStackMessageVol" location='home' pnscope="all" sub-fn="getSubPageVoCDetails" group="hourly"
                        stack="volume"></ng-echart>
                </div>
                <div class="column">
                    <ng-echart title="Message Influence' Vol Daily Trend In Last {{dateRange}} Days" type="hourly" platform='{{path[2]}}' query=query
                        api-fn="getMessageVolSpikes" location='home' pnscope="all" sub-fn="getSubPageVoCDetails" group="hourly"></ng-echart>
                </div>
                <div class="column">
                    <ng-echart title="Region of Users Volume In Last {{dateRange}} Days" platform='{{path[2]}}' query=query api-fn="getSpikes"
                        type="bar" style="height:264px;" location='home' pnscope="posi" sub-fn="getVoCDetailsByDate"></ng-echart>
                </div>
            </div>
        </div>
        <div id="daterangeanalytics" class="ui green segment">
            <h3 class="ui center aligned header title green">
                Services Analytics
                <i class="dropdown icon pull-left"></i>
            </h3>
            <div class="ui grid content">
                <div class="two column row">
                    <div class="ui shape column">
                        <div class="sides">
                            <div class="side active">
                                <ng-echart title="Mentioned (Messages Vol) Azure Services" type="pie" platform='{{path[2]}}' query=query api-fn="getMentionedMostServiceDistribution"
                                    property-select="messages" location="home" sub-fn="getVoCDetailsByServiceName" association="message"></ng-echart>
                            </div>
                            <div class="side">
                                <mentioned-table platform='{{path[2]}}' query=query association="message"></mentioned-table>
                            </div>
                        </div>
                    </div>
                    <div class="ui shape column">
                        <div class="sides">
                            <div class="side active">
                                <ng-echart title="Mentioned (Users Vol) Azure Services" type="pie" platform='{{path[2]}}' query=query api-fn="getMentionedMostServiceListByUserVol"
                                    property-select="users" location="home" sub-fn="getVoCDetailsByServiceName" association="user"></ng-echart>
                            </div>
                            <div class="side">
                                <mentioned-table platform='{{path[2]}}' query=query association="user"></mentioned-table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <ng-echart title="Most Like & Dislike Service In Last {{dateRange}} Days" type="barNagetive" platform='{{path[2]}}' query=query
                            api-fn="getVoCDetailsByServiceName1" location='home' pnscope="all" sub-fn="getSubPageVoCDetails"></ng-echart>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <button class="ui basic button mini pull-right" ng-show="topic !== undefined">
            <i class="icon download"></i>
            Download CSV
        </button>
</div>