<div class="ui segment basic container">
    <div class="ui breadcrumb">
        <a class="section">{{path[1]}}</a>
        <i class="right angle icon divider"></i>
        <div class="active section">{{path[2]}}</div>
    </div>
    <div id="topic_select" class="ui segment clearing">
        <a id="server_status" class="ui right label static" ng-class="serviceStatus">Status</a>
        <div class="ui flowing popup top left transition hidden compact segments" style="min-width:260px">
            <div class="ui compact segment">
                <h4 class="ui red inverted header">Red</h4>
                <p>Influence Volume Spike (true) <br />&<br />Positve
                    < Negative Ratio (true)</p>
            </div>
            <div class="ui compact segment">
                <h4 class="ui orange inverted header">Yellow</h4>
                <p>Influence Volume Spike (true)<br />Or<br />Positve
                    < Negative Ratio (true)</p>
            </div>
            <div class="ui compact segment">
                <h4 class="ui green inverted header">Green</h4>
                <p>Influence Volume Spike (false)<br />&<br />Positve
                    < Negative Ratio (false)</p>
            </div>
        </div>
        <div class="pull-left" style="height:38px;line-height:38px;margin-right:20px;">
            <div class="ui red horizontal label">UTC</div>
            {{dateList[0]}} - {{dateList.slice(-1)[0]}}
        </div>
        <div class="ui pull-left selection dropdown">
            <input name="category" ng-model="topic" type="hidden" value="">
            <i class="dropdown icon"></i>
            <div class="default text">category</div>
            <div class="menu">
                <div ng-repeat="t in topics" class="item" data-value="{{t}}">{{t}}</div>
            </div>
        </div>
        <!--<button class="circular ui icon inverted blue button" ng-click="startGetData($event)" style="margin-left:20px">
            <i class="icon search"></i>
        </button>-->
    </div>
    <div class="ui indicating progress" id="progress" ng-show="flags.m">
        <div class="bar"></div>
    </div>
    <div class="" ng-show="flags.m">
        <!--statistic-->
        <div id="summary" class="ui blue segment">
            <h3 class="ui center aligned header blue">Summary</h3>
            <!--charts-->
            <!--<div class="ui segment">-->
            <div ng-if="statistic" class="ui three column divided grid center aligned">
                <div class="column collection">
                    <div>
                        <div class="ui horizontal top divider">Community Users</div>
                        <ng-statistic title="Users Joined Discussion" data="statistic.joinedusers" type="joinedusers"></ng-statistic>
                    </div>
                    <div ng-if="platform=='twitter'">
                        <div class="ui inverted divider"></div>
                        <ng-statistic title="Regions of Users" data="statistic.regionofusers" type="regionofusers"></ng-statistic>
                    </div>
                    <div>
                        <div class="ui inverted divider"></div>
                        <ng-statistic title="Influence of Users(page Views)" data="statistic.influenceofusers" type="influenceofusers"></ng-statistic>
                    </div>
                </div>
                <div class="column collection">
                    <div>
                        <div class="ui horizontal top divider">Services & Products Status</div>
                        <ng-statistic title="Services & Products being Discussed" data="statistic.mentionedservicecount" type="mentionedservicecount"></ng-statistic>
                    </div>
                    <div ng-if="platform=='twitter'" style="max-height:129px;">
                        <div class="ui inverted divider"></div>
                        <!--<ng-statistic title="Most Mentioned Service" data="statistic.mostmentionedservice" type="mostmentionedservice"></ng-statistic>-->
                        <div class="ui two column grid">
                            <div class="column">
                                <h6 style="margin:0;font-size:13px">Most Mentioned Service</h6>
                                <div class="ui relaxed divided list">
                                    <div ng-repeat="s in statistic.mentionedmostservice" class="item text tiny blue" alt="{{s.mentionedmostservice.attachedobject}}" title="{{s.mentionedmostservice.attachedobject}}">
                                        <!--  ng-class="{0:'red',1:'green',2:'blue'}[$index]" -->
                                        {{s.mentionedmostservice.attachedobject | limitTo: 15 }}<span ng-if="s.mentionedmostservice.attachedobject.length > 15">&hellip;</span>({{s.occupyratio}}%)
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <h6 style="margin:0;font-size:13px" title="since last seven days" >Growth Ranking
                                </h6>
                                <div class="ui relaxed divided list">
                                    <div ng-repeat="s in statistic.rankingservice" class="item text tiny blue" alt="{{s.rankingservice.attachedobject}}" title="{{s.rankingservice.attachedobject}}">
                                        <!--  ng-class="{0:'red',1:'green',2:'blue'}[$index]" -->
                                        {{s.rankingservice.attachedobject| limitTo: 15 }}<span ng-if="s.rankingservice.attachedobject.length > 15">&hellip;</span>({{s.occupyratio}}%)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="ui inverted divider"></div>
                        <!--<ng-statistic title="Most Liked Service : Most Disliked Service" comment="Receievd hightest Ratio of positive posts" data="{mostlikedservice:statistic.mostlikedservice,mostdislikedservice:statistic.mostdislikedservice}" type="mostlikedservice"></ng-statistic>-->
                        <div class="ui two column grid">
                            <div class="column">
                                <h6 style="margin:0;font-size:13px">Most Liked Service</h6>
                                <div class="ui relaxed divided list">
                                    <div ng-repeat="s in statistic.mostlikedservice" class="item text tiny blue" alt="{{s.mentionedmostservice.attachedobject}}" title="{{s.mentionedmostservice.attachedobject}}">
                                        <!--  ng-class="{0:'red',1:'green',2:'blue'}[$index]" -->
                                        {{s.mentionedmostservice.attachedobject| limitTo: 15 }}<span ng-if="s.mentionedmostservice.attachedobject.length > 15">&hellip;</span>({{s.occupyratio}}%)
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <h6 style="margin:0;font-size:13px">Most Disliked Service</h6>
                                <div class="ui relaxed divided list">
                                    <div ng-repeat="s in statistic.mostdislikedservice" class="item text tiny blue" alt="{{s.mentionedmostservice.attachedobject}}" title="{{s.mentionedmostservice.attachedobject}}">
                                        <!--  ng-class="{0:'red',1:'green',2:'blue'}[$index]" -->
                                        {{s.mentionedmostservice.attachedobject| limitTo: 15 }}<span ng-if="s.mentionedmostservice.attachedobject.length > 15">&hellip;</span>({{s.occupyratio}}%)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column collection">
                    <div>
                        <div class="ui horizontal top divider">VoC Insights</div>
                        <ng-statistic title="Message Posts" data="statistic.vocinsights" type="vocinsightsVol"></ng-statistic>
                    </div>
                    <div>
                        <div class="ui inverted divider"></div>
                        <ng-statistic title="Sentiment of Messages (POS:NEG:NEU)" data="statistic.vocinsights" type="vocinsightsPN"></ng-statistic>
                    </div>
                    <div ng-if="platform=='twitter'">
                        <div class="ui inverted divider"></div>
                        <ng-statistic title="Influence of Sentiment" comment="Page Views - POS : NEG" data="{mostposifrom:statistic.mostposifrom,mostnegfrom:statistic.mostnegfrom}" type="mostposifrom"></ng-statistic>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="ui hidden divider"></div>-->
        <!--<div class="ui hidden divider"></div>-->
        <!--<div class="ui divider"></div>-->
        <!--<div class="ui hidden divider"></div>-->
        <div id="volumes" class="ui teal segment">
            <h3 class="ui center aligned header teal">Volumes</h3>
            <div class="ui one column grid">
                <div class="column">
                    <ng-echart title="Users' Vol Hourly Trend During a Week" type="hourly" platform='{{path[2]}}' query=query api-fn="getUserVolSpikes" location='home' pnscope="all" sub-fn="getSubPageVoCDetails" group="hourly"></ng-echart>
                </div>
                <div class="column">
                    <ng-echart title="Message Posts' Vol Hourly Trend During a Week" type="hourly" platform='{{path[2]}}' query=query api-fn="getMessageVolSpikes" location='home' pnscope="all" sub-fn="getSubPageVoCDetails" group="hourly"></ng-echart>
                </div>
                <div class="column">
                    <ng-echart title="Positive Posts' Vol Hourly Trend During a Week" type="hourly" platform='{{path[2]}}' query=query api-fn="getMessageVolSpikes" location='home' pnscope="posi" sub-fn="getSubPageVoCDetails" group="hourly"></ng-echart>
                </div>
                <div class="column">
                    <ng-echart title="Negative Posts' Vol Hourly Trend During a Week" type="hourly" platform='{{path[2]}}' query=query api-fn="getMessageVolSpikes" location='home' pnscope="neg" sub-fn="getSubPageVoCDetails" group="hourly"></ng-echart>
                </div>
                <div class="column">
                    <ng-echart title="Message Influence Vol Hourly Trend During a Week" type="hourly" platform='{{path[2]}}' query=query api-fn="getInfluenceVolSpikes" location='home' pnscope="all" sub-fn="getSubPageVoCDetails" group="hourly"></ng-echart>
                </div>
                <div ng-if="platform=='twitter'" class="column">
                    <ng-echart title="Poster's Regions # Hourly Trend During a Week" type="hourly" platform='{{path[2]}}' query=query api-fn="getUserRegionVolSpikes" location='home' pnscope="all" sub-fn="getSubPageVoCDetails" group="hourly"></ng-echart>
                </div>
            </div>
            <!--<div class="hourly-charts home" style="width:100%;height:300px;"></div>
            <div class="hourly-charts home" style="width:100%;height:300px;"></div>
            <div class="hourly-charts home" style="width:100%;height:300px;"></div>
            <div class="hourly-charts home" style="width:100%;height:300px;"></div>
            <div class="hourly-charts home" style="width:100%;height:300px;"></div>
            <div class="hourly-charts home" style="width:100%;height:300px;"></div>-->
        </div>
        <!--<div class="ui hidden divider"></div>-->
        <!--<div class="ui hidden divider"></div>-->
        <!--<div class="ui divider"></div>-->
        <!--<div class="ui hidden divider"></div>-->
        <div id="analytics" class="ui green segment">
            <h3 class="ui center aligned header green">
                Services Analytics
            </h3>
            <div class="ui grid">
                <div class="two column row">
                    <ng-echart title="Mentioned (Messages Vol) Azure Services" type="pie" platform='{{path[2]}}' query=query api-fn="getMentionedMostServiceDistribution" property-select="messages" location="home" sub-fn="getVoCDetailsByServiceName"></ng-echart>
                    <ng-echart title="Mentioned (Users Vol) Azure Services" type="pie" platform='{{path[2]}}' query=query api-fn="getMentionedMostServiceListByUserVol" property-select="users" location="home" sub-fn="getVoCDetailsByServiceName"></ng-echart>
                </div>
                <div class="row">
                    <div class="column">
                        <table id="spikes-table" st-table="stTable" st-safe-src="mostMentionedService" class="ui blue striped celled table">
                            <thead>
                                <tr>
                                    <th st-sort="attachedobject">Service Name</th>
                                    <th st-sort="vocinfluence.voctotalvol">Post Vol</th>
                                    <th st-sort="vocinfluence.positivetotalvol">POS Ratio</th>
                                    <th st-sort="vocinfluence.negativetotalvol">NEG Ratio</th>
                                    <th st-sort="vocinfluence.uniqueusers">Unique Users</th>
                                    <th st-sort="vocinfluence.vocinfluencedvol">Total Page View</th>
                                    <th st-sort="vocinfluence.detectedspikesvol">Detected Spikes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7">
                                        <div class="ui icon input">
                                            <input type="search" st-search placeholder="Search ...">
                                            <i class="search icon"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-repeat="item in stTable">
                                    <td>{{item.attachedobject}}</td>
                                    <td width="100">{{item.vocinfluence.voctotalvol|thousandsuffix}}</td>
                                    <td width="100">{{(item.vocinfluence.positivetotalvol)/(item.vocinfluence.voctotalvol)|percentage}}</td>
                                    <td width="100">{{(item.vocinfluence.negativetotalvol)/(item.vocinfluence.voctotalvol)|percentage}}</td>
                                    <td width="100">{{item.vocinfluence.uniqueusers}}</td>
                                    <td width="100">{{item.vocinfluence.vocinfluencedvol|thousandsuffix}}</td>
                                    <td width="100">{{item.vocinfluence.detectedspikesvol}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <div st-items-by-page="10" st-pagination="" st-template="/public/template/pagination.custom.html"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="ui hidden divider"></div>-->
        <!--<div class="ui hidden divider"></div>-->
        <!--<div class="ui divider"></div>-->
        <!--<div class="ui hidden divider"></div>-->
        <div id="sentiment" class="ui purple segment">
            <h3 class="ui center aligned header purple">
                Sentiment Word Cloud
            </h3>

            <div class="ui two column grid">
                <div class="row">
                    <ng-echart title="Most POSITIVE Feedback Mentioned" type="wordcloud" platform='{{path[2]}}' query=query api-fn="getKeywordsMentionedMostMapping" pnscope="posi" location="home" sub-fn="getSubPageVoCDetailsbyKeywords"></ng-echart>
                    <ng-echart title="Most NEGATIVE Feedback Mentioned" type="wordcloud" platform='{{path[2]}}' query=query api-fn="getKeywordsMentionedMostMapping" pnscope="neg" location="home" sub-fn="getSubPageVoCDetailsbyKeywords"></ng-echart>
                </div>
                <!--<div class="row">
                    <ng-echart title="Negative Platform Influence" style="height:300px" platform="twitter,so,sf,su,msdn,tn" query=query type="hori" api-fn="getSpikes" pnscope="neg" location='home' no-pop="true" redirect='true'></ng-echart>
                    <ng-echart title="Negative Platform Influence" style="height:300px" platform="twitter,so,sf,su,msdn,tn" query=query type="hori" api-fn="getSpikes" pnscope="neg" location='home' no-pop="true" redirect='true'></ng-echart>
                </div>-->
            </div>
        </div>
        <!--<div class="ui hidden divider"></div>-->
        <!--<div class="ui hidden divider"></div>-->
        <!--<div class="ui divider"></div>-->
        <!--<div class="ui hidden divider"></div>-->
        <div id="influencers" class="ui orange segment">
            <h3 class="ui center aligned header orange">
                Top Active users
            </h3>
            <div class="ui three column grid">
                <!--<div class="column">-->
                <!--<div class="ui blue inverted segment center aligned voc">-->
                <user-list title='Most VoC Post By' platform='{{path[2]}}' pnscope="all" query=query location='home'></user-list>
                <!--</div>-->
                <!--</div>-->

                <!--<div class="column">-->
                <!--<div class="ui green inverted segment center aligned voc">-->
                <user-list title='Most POS VoC Post By' platform='{{path[2]}}' pnscope="posi" query=query location='home'></user-list>
                <!--</div>-->
                <!--</div>-->
                <!--<div class="column">-->
                <!--<div class="ui red inverted segment center aligned voc">-->
                <user-list title='Most NEG VoC Post By' platform='{{path[2]}}' pnscope="neg" query=query location='home'></user-list>
                <!--</div>-->
                <!--</div>-->
            </div>

        </div>
        <!--<div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>-->
        <!--<div id="menu" class="left attached ui rail tab-rail">
            <div class="ui fixed sticky">
                <div class="ui vertical mini menu">
                    <a class="active item">Twitter</a>
                </div>
            </div>
        </div>-->
        <!--</div>-->
        <div id="scrollspy" ng-scroll-spy class="">
            <div class="ui middle aligned selection list">
                <div class="item">
                    <a du-smooth-scroll="summary" du-scrollspy offset="30">
                        <div class="ui label" set-color="blue" data-content="Summary" data-variation="mini inverted">
                            <i class="icon dashboard"></i><span ng-hide="isSmall">Summary</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="volumes" du-scrollspy offset="60">
                        <div class="ui label" set-color="teal" data-content="Volumes" data-variation="mini inverted">
                            <i class="icon line chart"></i><span ng-hide="isSmall">Volumes</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="analytics" du-scrollspy offset="300">
                        <div class="ui label" set-color="green" data-content="Services Analytics" data-variation="mini inverted">
                            <i class="icon heartbeat"></i> <span ng-hide="isSmall">Services Analytics</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="sentiment" du-scrollspy offset="400">
                        <div class="ui label" set-color="purple" data-content="Sentiment" data-variation="mini inverted">
                            <i class="icon comments"></i> <span ng-hide="isSmall">Sentiment Word Cloud</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a du-smooth-scroll="influencers" du-scrollspy offset="600">
                        <div class="ui label" set-color="orange" data-content="Top Active users" data-variation="mini inverted">
                            <i class="icon users"></i> <span ng-hide="isSmall">Top Active users</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>